/*width 1200*/
.pw-w1200{width:1200px; margin:0 auto;}
/*float left & right*/
.pw-fl{float:left;}
.pw-fr{float:right;}
.w50{width:50px !important;}
.w80{width:80px !important;}
.w100{width:100px !important;}
.w150{width:150px !important;}
.w200{width:200px !important;}
.w320{width:320px !important;}
.w400{width:400px !important;}
.w468{width:468px !important;}
.h-50{height:50px !important;}
.h-70{height:70px !important;}
.h-80{height:80px !important;}
.h-90{height:90px !important;}
.h-100{height:100px !important;}

/*margin value*/
.m0{margin:0 !important;}
.mr0{margin-right:0 !important;}
.mr10{margin-right:10px;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
/*padding value*/
.p0{padding:0 !important;}
.plr5{padding:0 5px !important;}
.pl0{padding-left:0px !important;}
.pl20{padding-left:20px !important;}
.pl90{padding-left:90px !important;}
.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}

/*border value*/
.bt0{border-top:0 !important;}
.bb0{border-bottom:0 !important;}
.bl0{border-left:0 !important;}
.br0{border-right:0 !important;}
/*hide*/
.hide{display:none;}

/*display & middle*/
.di-vm{display:inline-block; vertical-align:middle;}
/*text align*/
.t-l{text-align:left;}
.t-c{text-align:center;}
.t-r{text-align:right;}

/*fonts*/
.f12{font-size:12px !important;}
.f14{font-size:14px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.fw7{font-weight:700 !important;}
.ff-ha{font-family:'Microsoft YaHei', Helvetica, Arial;}
/*color*/
.c-333{color:#333 !important;}
.c-CCC{color:#CCC !important;}
.c-0066CD{color:#0066CD !important;}
.c-E6000A{color:#E6000A !important;}
.c-F60{color:#F60 !important;}
.bg-F0F0F0{background:#F0F0F0 !important;}
.bg-F9F9F9{background:#F9F9F9 !important;}

/* clear */
.clearfix{*zoom:1;}
.clearfix:after{clear:both;}
.clearfix:after, .clearfix:before{display:table; content:'';}
.fl{float:left !important;}
.fr{float:right !important;}


/*small line*/
.pw-vline{margin:0 5px 0 3px; font-size:13px; font-weight:500; color:#ddd;}
.pw-tline{display:block; height:1px; margin:0 auto; font-size:0px; background:#ddd; overflow:hidden;}
/*small icon*/
.pw-icon{display:inline-block; position:relative; background:url('../../images/ar-ico.png') no-repeat; vertical-align:middle;}
.qh-icon{display:inline-block; position:relative; background:url('../../images/qh-icon.png') no-repeat; vertical-align:middle;}

/*icon new*/
.pw-new{display:inline-block; position:relative; width:19px; height:23px; background:url('../images/new.gif') no-repeat 0 0; vertical-align:middle;}
/*icon hot*/
.pw-hot{display:inline-block; position:relative; width:19px; height:23px; background:url('../images/hot.gif') no-repeat 0 0; vertical-align:middle;}
.alr-icon{display:inline-block; position:relative; background:url('../../images/alr-icon.png') no-repeat; vertical-align:middle;}
.alri-l{width:6px; height:9px; background-position:0 0;}
.alri-r{width:6px; height:9px; background-position:-18px 0;}
.atb-icon{display:inline-block; position:relative; background:url('../../images/atb-icon.png') no-repeat; vertical-align:middle;}
.atbi-t{width:9px; height:6px; background-position:0 0;}
.atbi-t:hover, .atbi-t-acitve{width:9px; height:6px; background-position:-20px 0;}
.atbi-b{width:9px; height:6px; background-position:0 -10px;}
.atbi-b:hover, .atbi-b-acitve{width:9px; height:6px; background-position:-20px -10px;}

.atb-f60-icon{display:inline-block; position:relative; background:url('../../Images/atb-icon-F60.png') no-repeat; overflow:hidden; vertical-align:middle;}
.afi-t{width:9px; height:6px; background-position:-20px 0;}
.afi-t-active{width:9px; height:6px; background-position:0 0;}
.afi-b{width:9px; height:6px; background-position:-20px -10px;}
.afi-b-active{width:9px; height:6px; background-position:0 -10px;}

/*top*/
.pw-top{width:100%; height:30px; border-bottom:1px solid #ECECEC; background:#F3F3F3; zoom:1;}
.pw-top .pwt-link{height:30px; line-height:30px; background:#F3F3F3; zoom:1;}

/* shop decoration top */
.shop-decoration-top{background:#FFF; min-width:1200px;}
.shop-decoration-top .pwt-link{background:#FFF;}

/*top down*/
dl.pw-down{position:relative; z-index:999; width:80px; margin:0 8px; cursor:pointer; text-align:center;}
dl.pw-down.ltb1{left:1px; _left:-1px;}
dl.pw-down dt{position:relative; top:8px; width:100%; height:14px; line-height:14px; border-right:1px solid #ddd; border-left:1px solid #ddd;}
dl.pw-down dt a{display:inline-block; margin-left:-12px;}
dl.pw-down dt i{position:absolute; top:4px; right:7px; width:9px; height:6px; background-position:0 0;}
dl.pw-down dd{display:none; position:absolute; top:30px; left:0; z-index:999; width:100%; line-height:22px; padding:5px 0 3px 0; border:1px solid #ddd; background:#fff;}
dl.pw-down dd a{display:block; height:22px; text-align:left; text-indent:10px;}
dl.pw-down:hover dt{top:0px; height:30px; line-height:30px; border-color:#ddd; background:#fff;}
dl.pw-down:hover dt i{top:12px; background-position:-18px 0;}
dl.pw-down:hover dd{display:inline-block; border-top:0;}
dl.pw-down-unique{/**/}
dl.pw-down-unique dd{width:150px; overflow:hidden; zoom:1;}
dl.pw-down-unique dd a{float:left; width:75px;}
/*panel*/
.pw-panel{width:100%; min-width:1200px; background:#fff;}

/*head*/
.pw-head{height:90px; padding:20px 0; position:relative; z-index:101; /*  overflow:hidden; */ zoom:1;}
/*head panel logo*/
.pw-head .pwp-logo{float:left; width:320px;}
.pwp-logo .pl-logo{display:inline-block; float:left; width:152px; height:52px; margin:14px 15px 0 0; background:url('../../images/qpr_logo.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-1{display:inline-block; font-size:20px; font-weight:500; font-family:'Microsoft YaHei'; vertical-align:middle;}
.pwp-logo .pl-logo-tit{display:inline-block; width:69px; height:40px; height:39px; line-height:40px; margin:23px 0 0 0; padding-left:30px; border-left:1px solid #E4E4E4; background:url('../../images/qpr_logo_1.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-tit img{margin:0 0 0 15px;}
.pwp-logo .pl-logo-text{display:inline-block; height:52px; line-height:52px; margin:10px 0 0 0; padding-left:10px; font-size:16px; font-weight:500; font-family:'Microsoft YaHei'; color:#666; border-left:1px solid #E4E4E4; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-text-2{display:inline-block; height:52px; margin:10px 0 0 0; padding-left:15px; font-size:22px; font-weight:700; color:#000; border-left:1px solid #E4E4E4; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-text-2 .plt2-text{display:block; margin-top:3px; font-weight:700; font-family:'Microsoft YaHei'; color:#000;}
.pwp-logo .pl-logo-text-2 .plt2-link{display:block; margin-top:-5px; font-size:12px; color:#666;}
.pwp-logo .pl-logo-text-3{display:inline-block; height:52px; line-height:52px; margin:10px 0 0 0; padding-left:10px; font-size:20px; font-weight:500; font-family:'Microsoft YaHei'; color:#000; border-left:1px solid #E4E4E4; overflow:hidden; vertical-align:middle;}

/*head special*/
.pw-head-special{width:100%; min-width:1200px; background:#0070EA;}
.pw-head-special .pws-head{height:80px; overflow:hidden; zoom:1;}
.pws-head .pwps-logo{float:left;}
.pwps-logo .pl-logo{display:inline-block; float:left; width:152px; height:52px; margin:14px 15px 0 0; background:url('../../images/qpr_logo_CFFF.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwps-logo .pl-logo-text{display:inline-block; float:left; height:52px; margin:10px 0 0 0; padding-left:15px; font-family:'Microsoft YaHei'; border-left:1px solid #7D9DF2; overflow:hidden; text-align:center; vertical-align:middle;}
.pwps-logo .pl-logo-text .pllt-tit{display:block; line-height:25px; font-size:20px; font-weight:500; color:#FFF; letter-spacing:1px;}
.pwps-logo .pl-logo-text .pllt-tit-1{display:block; line-height:52px; font-size:18px; font-weight:500; color:#FFF; letter-spacing:1px;}
.pwps-logo .pl-logo-text .pllt-tip{display:block; line-height:20px; margin-top:5px; padding:0 10px; font-size:12px; font-weight:500; font-family:'SimSun'; color:#FFF; border:1px solid #FFF; border-radius:10px;}

/*head panel online*/
.pw-head .pwp-online{float:right; position:relative; top:35px;}
/*head panel search*/
.pw-panel .pwp-search{float:left; width:670px; margin:2px 0 0 50px;}
/*head panel search tab*/
.pwp-search .pwps-tab{margin-bottom:2px; overflow:hidden; zoom:1;}
.pwps-tab a{float:left; height:25px; line-height:25px; font-size:12px; color:#333; cursor:pointer;}
.pwps-tab i{float:left; line-height:25px; margin:0 8px; font-size:13px; font-weight:500; color:#ccc;}
.pwps-tab a:hover{color:#F60;}
.pwps-tab a.active{color:#F60;}
/*head panel search tab form*/
.pwp-search .pwps-form{position:relative; z-index:10; width:100%; height:38px; zoom:1;}
.pwps-form .ps-text{position:absolute; left:0; z-index:10; width:540px; height:20px; line-height:20px; padding:7px 5px; font-size:12px; color:#999; border:2px solid #999; border-right:0; background-color:#fff; text-indent:5px;}
.pwps-form .ps-icon{position:absolute; top:8px; left:12px; z-index:12; width:18px; height:18px; background-position:-36px 0;}
.pwps-form .ps-btn{position:absolute; right:0; z-index:10; width:120px; height:38px; font-size:14px; font-weight:500; font-family:'Microsoft YaHei'; color:#fff; border:0; background:#0070EA; cursor:pointer;}
.pwps-form .ps-btn:hover{background:#0066CD;}
/* search btn color f60 */
.pwps-cF60{/**/}
.pwps-cF60 .ps-btn{background:#F60;}
.pwps-cF60 .ps-btn:hover{background:#F90;}

/*head panel search tab form suggest*/
.pwps-form .pwps-suggest{display:none; position:absolute; top:38px; left:0; width:549px; font-family:'Microsoft YaHei'; border:1px solid #CCC; border-top:0; background:#FFF;}
.pwps-form .pwps-suggest .sug-ul{width:100%; padding:0 0 5px 0;}
.pwps-form .pwps-suggest .sug-ul li{line-height:24px; padding:0 10px;}
.pwps-form .pwps-suggest .sug-ul li a{display:block; width:100%; font-size:12px; color:#666; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.pwps-form .pwps-suggest .sug-ul li.li-item:hover{background:#F0F0F0;}
.pwps-form .pwps-suggest .sug-ul li.li-item:hover a{color:#666;}
.pwps-form .pwps-suggest .sug-ul li.li-cate{margin:0 0 5px 0; padding:5px 10px; border-bottom:1px solid #F0F0F0; overflow:hidden; zoom:1;}
.pwps-form .pwps-suggest .sug-ul li.li-cate label{display:block; color:#444;}
.pwps-form .pwps-suggest .sug-ul li.li-cate .cate-items{display:block; max-width:100%; white-space:nowrap; overflow:hidden; zoom:1;}
.pwps-form .pwps-suggest .sug-ul li.li-cate .cate-items a{float:left; width:auto; max-width:20%; margin:0 8px 5px 0; padding:0 5px; border:1px solid #F5F5F5; background:#F5F5F5; text-align:center;}
.pwps-form .pwps-suggest .sug-ul li.li-cate .cate-items a:hover{color:#0070EA; border:1px solid #0070EA; background:#FFF;}
.pwp-search .pwps-lately{margin-top:3px; overflow:hidden; zoom:1;}
.pwp-search .pwps-lately a{float:left; max-width:120px; margin-right:10px; font-size:12px; color:#666; overflow:hidden; white-space:nowrap; word-wrap:break-word; word-break:break-all; _width:expression(this.width > 120 ? '120px': true);}
.pwp-search .pwps-lately a:hover{color:#F60;}

/*head panel search*/
.pw-panel .down-search{float:right; position:relative; width:632px; height:39px; margin-top:20px; font-size:14px; zoom:1;}
.down-search .ds-left{float:left; width:400px; height:35px; line-height:35px; border:2px solid #DCDCDC; border-right:none; zoom:1;}
.down-search .ds-down{float:left; position:relative; z-index:99999; width:70px; height:35px; line-height:35px; overflow:visible; cursor:pointer;}
.ds-down ul{position:absolute; width:70px; width:100%; font-size:12px; overflow:hidden; text-align:center;}
.ds-down ul.sel{display:block; height:35px; overflow:hidden;}
.ds-down ul.sel-out{display:block; height:35px; overflow:hidden;}
.ds-down ul li{width:60px; line-height:26px; color:#444; overflow:hidden;}
.ds-down ul li.dsl-tit{width:50px; height:32px; line-height:32px; margin-bottom:2px; color:#666;}
.ds-down ul li.active{background:#FAFAFA;}
.ds-down ul li.active a{color:#F60;}
.ds-down ul li i{position:absolute; top:15px; right:15px; width:9px; height:6px; background-position:-20px -10px;}
.ds-down ul li a{display:block; color:#666; text-align:center;}
.ds-down ul.sel-hover{display:block; height:100px; background:#FAFAFA; overflow:auto;}
.ds-down ul.sel-hover li i{background-position:0 0;}
.ds-down ul li a:hover{color:#F60;}
.down-search .ds-inpt{float:left; width:320px; height:35px; line-height:35px; overflow:hidden;}
.down-search .ds-inpt input{width:100%; height:35px; line-height:35px; padding:0 10px 0 5px; border:0;}
.down-search .ds-btn{float:left; overflow:hidden;}
.down-search .ds-btn a{display:block; width:110px; height:39px; line-height:39px; margin:0; padding:0; font-size:14px; font-weight:700; color:#FFF; background:#0070EA; text-align:center;}
.down-search .ds-btn a span{display:inline-block; vertical-align:middle;}
.down-search .ds-btn a:hover{background:#0066CD;}
/*head panel btn*/
.down-search .allsearch-btn{float:right; width:106px; height:35px; line-height:35px; margin:0 0 0 10px; font-size:14px; font-weight:700; color:#0070EA; border:2px solid #0070EA; background:#FFF; text-align:center;}
.down-search .allsearch-btn:hover{color:#FFF; background:#0066CD;}
/*head panel search suggest*/
.down-search .pwps-suggest{display:none; position:absolute; top:39px; left:0; width:400px; font-family:'Microsoft YaHei'; border:1px solid #CCC; border-top:0; background:#FFF;}
.down-search .pwps-suggest .sug-ul{width:100%; padding:5px 0;}
.down-search .pwps-suggest .sug-ul li{line-height:24px; line-height:24px; padding:0 10px;}
.down-search .pwps-suggest .sug-ul li a{display:block; width:100%; font-size:12px; color:#666; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.down-search .pwps-suggest .sug-ul li:hover{background:#F0F0F0;}
.down-search .pwps-suggest .sug-ul li:hover a{color:#666;}

/*head panel ewm*/
.pw-panel .qhp-ewm{float:right; position:relative;  z-index:10;}
.qhp-ewm dl{overflow:hidden;}
.qhp-ewm dl dt{height:20px; line-height:20px; text-align:center; font-family:'Microsoft YaHei'; font-size:12px; color:#888;}
.qhp-ewm dl dd{margin:0px 0 0 0; text-align:center;}
.qhp-ewm .qh-close{display:inline-block; position:absolute; width:15px; height:15px; border:1px solid #E4E4E4; border-right:0; background:#fff; cursor:pointer;}
.qhp-ewm .qh-close i{position:relative; top:3px; left:2px; width:9px; height:9px; background-position:0 -26px;}
.qhp-ewm .qh-close:hover i{background-position:-18px -26px;}

/* head panel 2016 zq */
.pw-panel .qhp-zq-search{width:600px;}
.pw-panel .qhp-zq-search .pwps-form .ps-text{width:470px;}
.qhp-zq{float:right; position:absolute; top:0; right:35px; z-index:10; width:192px; height:177px; background:url('../../images/2016-zq.png') no-repeat center center;}
.qhp-zq .qhpz-in{position:absolute; top:10px; right:-35px; width:65px; height:95px; background:url('../../images/2016-zqdh.gif') no-repeat center center;}

/* shop decoration head */
.shop-decoration-head{background:#F6F6F6; border-bottom:1px solid #ECECEC;}


/* head menu :integral task */
.head-menu{height:52px; line-height:52px; margin-top:10px;}
.head-menu li{float:left; position:relative; margin:0 20px 0 0; padding:0 10px;}
.head-menu li a{font-size:16px; font-family:'Microsoft YaHei'; color:#000;}
.head-menu li a:hover{color:#B61D1D;}
.head-menu li .pos-mark{position:absolute; top:-2px; right:-75px; height:18px; line-height:18px; padding:0 2px; border:1px solid #F00; border-radius:3px; background:#F00;}
.head-menu li .pos-mark .pm-text{font-size:12px; color:#FFF;}
.head-menu li .pos-mark .pm-arrow{position:absolute; width:0px; height:0px; line-height:0px; border-width:7px 5px 0; border-style:solid dashed dashed dashed; border-right-color:transparent; border-left-color:transparent;}
.head-menu li .pos-mark .arrow-border{left:0; color:#F00;}
.head-menu li .pos-mark .arrow-bg{left:0; color:#F00;}


/*nav*/
.h-nav{width:100%; background:#fff; border-bottom:2px solid #0070EA;}
.h-nav .hn-menu{position:relative;z-index:100; zoom:1;}
/*nav all class*/
.hn-menu .hnm-class{ position:absolute; top:0; left:0; z-index:100; width:200px; height:40px; background:#027CFF; cursor:pointer;}
.hn-menu .hnm-class span{position:relative; border-bottom:2px solid #0070EA; display:block; padding:0 15px; height:40px; line-height:40px; vertical-align:middle;}
.hn-menu .hnm-class span em{display:inline-block; vertical-align:middle; font-size:14px; font-weight:700; color:#fff;}
.hn-menu .hnm-class span b{margin-right:10px;}
.hn-menu .hnm-icon{position:relative; display:inline-block; vertical-align:middle; background:url('../../images/qpr_nav_icon.png') no-repeat;}
.hn-menu .hi-all{width:17px; height:12px; background-position:0 0;}
.hn-menu .hi-up{position:absolute; right:15px; top:15px; width:15px; height:8px; background-position:-25px 0;}
.hn-menu .hi-down{position:absolute; right:15px; top:15px; width:15px; height:8px; background-position:-45px 0;}
.hnm-class:hover .hnmc-left{display:block;}
.hn-menu .hnmc-span i{_display:none; position:absolute; right:15px; top:15px; width:15px; height:8px; background-position:-25px 0;}
.hnm-class:hover .hnmc-span i{background-position:-45px 0;}
/*nav class left*/
.hnm-class .hnmc-left{display:none; position:absolute; z-index:101; left:0; top:42px; width:200px; height:322px; overflow:hidden; background:#F9F9f9;border-bottom:1px solid #E4E4E4; cursor:pointer;}
.hnm-class .hnmc-left ul{border-left:1px solid #E4E4E4; border-right:1px solid #E4E4E4;}
.hnm-class .hnmc-left li{position:relative; z-index:1; width:198px; height:30px; line-height:29px; *border-right:1px solid #E4E4E4; border-top:1px solid #F9f9f9; border-bottom:1px solid #F9f9f9;  overflow:visible; }
.hnm-class .hnmc-left li a{margin-left:15px; font-size:12px; font-weight:500; color:#444; text-align:left; overflow:hidden;}
.hnm-class .hnmc-left li i{position:absolute; top:10px; right:15px; width:6px; height:9px; background-position:0 0;}
.hnm-class .hnmc-left li:hover{background:#FFF; width:199px; _width:198px; border-color:#E4E4E4; border-right-color:#FFF; overflow:hidden;}
.hnm-class .hnmc-left li:hover a{color:#0070EA;}
.hnm-class .hnmc-left li:hover i{right:16px; background-position:-18px 0;}
.hnm-class .hnmc-left li.active{background:#FFF; width:199px; _width:198px; border-color:#E4E4E4; border-right-color:#FFF; overflow:hidden;}
.hnm-class .hnmc-left li.active i{right:16px; background-position:-18px 0;}
.hnm-class .hnmc-left li.active a{color:#0070EA;}
.hnm-class .hnmc-left li.active a:hover{color:#0070EA;}
/*nav class right*/
.hnm-class .hnmc-right{ display:none; position:absolute; /*left:200px;*/ top:42px; margin-left:-1px; border-left:1px solid #ddd; background:transparent;}
.hnmc-right .hnmcr-cont{display:none; width:790px; min-height:323px; height:auto; zoom:1; overflow:hidden; }
.hnmc-right .hnmcr-item-l{float:left; width:500px; min-height:322px; height:auto; border-bottom:1px solid #ddd; background:#fff; overflow:hidden;}
.hnmc-right .hnmcr-adve-r{float:left; width:258px; min-height:322px; height:auto; border:1px solid #ddd; border-top:0; background:#fff; overflow:hidden;}
.hnmcr-item-l .ldi-list{margin:0 15px; overflow:hidden; zoom:1; }
.hnmcr-item-l .ldi-list dt{position:relative; height:45px; line-height:45px; margin-bottom:10px; border-bottom:1px solid #1A8CFF; overflow:hidden; zoom:1;}
.hnmcr-item-l .ldi-list dt label{float:left; height:43px; line-height:43px; color:#444; font-size:14px; font-weight:700; border-bottom:2px solid  #1A8CFF;}
.hnmcr-item-l .ldi-list dt i{ position:relative; left:3px; top:6px; +top:-10px; _left:0px; _top:6px; vertical-align:top; width:12px; height:14px; background-position:-35px -21px;}
.hnmcr-item-l .ldi-list dd{float:left; padding:0 9px 0 1px;height:30px; white-space:nowrap; overflow:hidden; }
.hnmcr-item-l .ldi-list dd a{ display:inline-block; width:100px; white-space:nowrap; overflow:hidden;}

/* nav class right left div list */
.hnmcr-item-l .div-list{margin:0 15px; overflow:hidden; zoom:1;}
.hnmcr-item-l .div-list .list-tit{position:relative; height:45px; line-height:45px; border-bottom:1px solid #1A8CFF; overflow:hidden; zoom:1;}
.hnmcr-item-l .div-list .list-tit label{float:left; height:43px; line-height:43px; font-size:14px; font-weight:700; color:#444; border-bottom:2px solid  #1A8CFF;}
.hnmcr-item-l .div-list .list-cont{overflow:hidden;}
.hnmcr-item-l .div-list .list-dl{margin-top:-1px; padding:8px 0; border-top:1px solid #F0F0F0; overflow:hidden; zoom:1;}
.hnmcr-item-l .div-list .list-dl dt{float:left; position:relative; width:17%; line-height:22px;}
.hnmcr-item-l .div-list .list-dl dt a{display:inline-block; width:81%; font-weight:700; overflow:hidden; vertical-align:middle; white-space:nowrap;}
.hnmcr-item-l .div-list .list-dl dt i{position:absolute; top:8px; right:8px; width:6px; height:9px; background-position:0 0;}
.hnmcr-item-l .div-list .list-dl dd{float:left; width:83%; overflow:hidden; zoom:1;}
.hnmcr-item-l .div-list .list-dl dd .dd-item{float:left; line-height:22px; margin-right:8px; white-space:nowrap;}
.hnmcr-item-l .div-list .list-dl dd .dd-item i{font-size:13px; font-weight:500; color:#ddd;}
.hnmcr-item-l .div-list .list-dl dd .dd-item a{margin-left:8px;}


/*nav class right ad*/
.hnmcr-adve-r a{display:inline-block; width:258px; height:161px; overflow:hidden; vertical-align:middle;}
.hnmcr-adve-r i{width:250px;}
.hnmcr-adve-r a img{height:161px; overflow:hidden;}
/*nav class right close*/
.hnmcr-close{position:absolute; top:0; right:0; width:28px; height:28px; border:1px solid #EBEBEB; background:#000; opacity:0.2; filter:alpha(opacity=20);}
.hnmcr-close i{position:relative; top:6px; left:6px; width:16px; height:16px; background-position:-65px 0 !important;}
.hnmcr-close:hover{background:#000; opacity:0.4; filter:alpha(opacity=40);}
.hn-menu .hover .hnmc-right{display:block;/* z-index:100;*/}
/*nav menu*/
.hn-menu .hnm-list{position:relative; top:0; left:200px; width:1000px; height:40px; background:#FFF; zoom:1;}
.hn-menu .hnm-list .menu-l{float:left; margin:0 15px 0 25px;}
.hn-menu .hnm-list .menu-l a{line-height:40px; padding:0 10px; font-size:14px; font-weight:700; color:#444;}
.hn-menu .hnm-list .menu-l a:hover{color:#F60;}
dl.menu-d{float:left; position:relative; z-index:999; margin:0 15px 0 25px; cursor:pointer; text-align:center; *width:75px;}
dl.menu-d dt{position:relative; width:100%; height:38px; line-height:38px; overflow:hidden;}
dl.menu-d dt a{line-height:38px; padding:0 10px; font-size:14px; font-weight:700; color:#FFF; *padding:0 5px;}
dl.menu-d dt:hover a{color:#FFF;}
dl.menu-d dt a:hover{color:#fff;}
dl.menu-d dd{display:none; position:absolute; top:38px; left:0; z-index:999; width:100%; line-height:22px;}
dl.menu-d dd a{display:block; height:24px; color:#fff; background:#007BF7; text-align:left; text-indent:10px;}
dl.menu-d dd a:hover{color:#FF7200;}
/*dl.menu-d dd .qhi-bt{ display:block; width:100%; height:2px; _margin-top:-5px; background:url(../../images/md_bg.png) repeat-x center center;}*/
dl.menu-d:hover dt{top:0px; height:38px; line-height:38px; background:#007BF7;}
dl.menu-d:hover dd{display:inline-block;}
dl.menu-d-unique{/**/}
dl.menu-d-unique dd{width:150px; background:#007BF7; overflow:hidden;}
dl.menu-d-unique dd a{float:left; width:75px;}

/* shop decoration head free menu */
.shop-decoration-head-free-menu{display:inline-block; z-index:99999; position:absolute; margin:10px 0 0 0; border-left:1px solid #E4E4E4; vertical-align:middle;}
.shop-decoration-head-free-menu .hnm-class{position:relative; width:200px; height:55px; background:none;}
.shop-decoration-head-free-menu .hnm-class span{display:block; height:70px; line-height:55px; padding:0 15px; border:1px solid #F5F5F5; border-bottom:none; vertical-align:middle;}
.shop-decoration-head-free-menu .hnm-class span em{display:inline-block; font-size:14px; font-weight:700; color:#333; vertical-align:middle;}
.shop-decoration-head-free-menu .hnm-class .hnm-icon{display:inline-block; background:url('../../Images/atb-icon.png') no-repeat; vertical-align:middle;}
.shop-decoration-head-free-menu .hnm-class .hi-up{position:absolute; top:25px; left:110px; width:9px; height:6px; background-position:-20px -10px;}
.shop-decoration-head-free-menu .hnm-class .hi-down{position:absolute; top:25px; left:110px; width:9px; height:6px; background-position:-20px 0;}
.shop-decoration-head-free-menu .hnm-class .hnmc-left{top:70px;}
.shop-decoration-head-free-menu .hnm-class .hnmc-right{top:70px;}
.shop-decoration-head-free-menu .hnm-class:hover span{border:1px solid #E4E4E4; background:#F9F9f9;}
.shop-decoration-head-free-menu .hnm-class:hover .hnmc-span i{background-position:-20px 0;}
.shop-decoration-head-free-menu:hover{border-color:#F5F5F5;}
.shop-decoration-head-free-menu .hnmcr-close .hnm-icon{ background:url('../../images/qpr_nav_icon.png') no-repeat;}


/*nav of home*/
.h-nav-home{border-bottom:none;}
.h-nav-home .hn-menu .hnm-class{height:38px;}
.h-nav-home .hn-menu .hnm-class span{height:38px; line-height:38px; border-bottom:none; background:#027CFF;}
.h-nav-home .hnm-class .hnmc-left{top:38px;}
.h-nav-home .hnm-class .hnmc-right{top:38px;}
.h-nav-home .hn-menu .hnm-list{height:38px; background:#0070EA;}
.h-nav-home .hn-menu .hnm-list .menu-l a{line-height:38px; color:#FFF;}
.h-nav-home .hn-menu .hnm-list .menu-l:hover{color:#FFF; background:#027CFF;}

/*nav hide ad*/
.h-nav-hideAd{/**/}
.h-nav-hideAd .hnmc-right .hnmcr-cont{width:630px;}
.h-nav-hideAd .hnmc-right .hnmcr-item-l{width:600px; border:1px solid #ddd; border-top:0; border-left:0;}
.h-nav-hideAd .hnmc-right .hnmcr-adve-r{display:none;}


/* top fixed */
.qh-top-fixed{display:none; position:fixed; top:0; z-index:9999; width:100%; border-bottom:1px solid #E4E4E4\9; background:#FAFAFA; box-shadow:0 2px 6px rgba(0,0,0,.25); opacity:0.97; zoom:1; _position:absolute;}
.qh-top-fixed .qh-panel{height:34px; padding:8px 0; zoom:1;}
.qh-top-fixed .qh-panel .qhp-logo{float:left;}
.qh-top-fixed .qhp-logo .logo{display:inline-block; vertical-align:middle;}
.qh-top-fixed .qhp-logo .logo-tit{display:inline-block; vertical-align:top;}
/*head panel search*/
.qh-top-fixed .qh-panel .qhp-search{float:left; width:638px; margin:0px 0 0 200px;}
/*head panel search tab form*/
.qh-top-fixed .qhp-search .qhps-form{position:relative; z-index:10; width:100%; height:34px; /* overflow:hidden; */ zoom:1;}
.qh-top-fixed .qhps-form .hs-text{position:absolute; left:0; z-index:10; width:486px; height:20px; line-height:20px; padding:5px 5px; font-size:12px; color:#999; border:2px solid #007BF7; border-right:0; background-color:#fff; text-indent:32px;}
.qh-top-fixed .qhps-form .hs-icon{position:absolute; top:7px; left:12px; z-index:12; width:18px; height:18px; background-position:-36px 0;}
.qh-top-fixed .qhps-form .hs-btn{position:absolute; right:0; z-index:10; width:140px; height:34px; font-size:14px; font-weight:700; color:#fff; border:0; background:#007BF7; cursor:pointer;}
/*head panel search suggest*/
.qh-top-fixed .qhps-form .pwps-suggest{display:none; position:absolute; top:34px; left:0; width:497px; font-family:'Microsoft YaHei'; border:1px solid #CCC; border-top:0; background:#FFF;}
.qh-top-fixed .qhps-form .pwps-suggest .sug-ul{width:100%; padding:5px 0;}
.qh-top-fixed .qhps-form .pwps-suggest .sug-ul li{line-height:24px; line-height:24px; padding:0 10px;}
.qh-top-fixed .qhps-form .pwps-suggest .sug-ul li a{display:block; width:100%; font-size:12px; color:#666; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.qh-top-fixed .qhps-form .pwps-suggest .sug-ul li:hover{background:#F0F0F0;}
.qh-top-fixed .qhps-form .pwps-suggest .sug-ul li:hover a{color:#666;}

/*foot*/
#footer{width:100%; line-height:22px; border-top:1px solid #e5e5e5; clear:both; text-align:center;}
.foot-nav{width:1200px; margin:10px auto 0;}
.copyright{width:480px; margin:0 auto 10px; font-family:Verdana; color:#000;}
.copyright img{display:inline-block;}

/*xj footer*/
.qpr-footer{width:100%; line-height:24px; margin:20px 0; padding:20px 0; border-top:1px solid #e5e5e5; background:#FFF; clear:both; text-align:center;}
.qpr-footer .qf-nav{margin:0 auto; overflow:hidden;}
.qpr-footer .qf-nav a{color:#444;}
.qpr-footer .qf-nav a:hover{color:#0066CD;}
.qpr-footer .qf-copyright{margin:0 auto; font-family:Verdana; color:#444;}
.qpr-footer .qf-copyright img{display:inline-block;}