/**

 @Name: layer
 @Author: 贤心

 **/

/* *html{background-image: url(about:blank); background-attachment: fixed;} */
html #hayuicss-layer{display:none; position:absolute; width:1989px;}

/* common */
.hayui-layer-shade, .hayui-layer{position:fixed; pointer-events:auto; _position:absolute;}
.hayui-layer-shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");}
.hayui-layer{-webkit-overflow-scrolling:touch;}
.hayui-layer{top:150px; left:0; margin:0; padding:0; border-radius:2px; background-color:#fff; -webkit-background-clip:content; box-shadow:1px 1px 50px rgba(0,0,0,.3);}
.hayui-layer-close{position:absolute;}
.hayui-layer-content{position:relative;}
.hayui-layer-border{border:1px solid #B2B2B2; border:1px solid rgba(0,0,0,.1); box-shadow:1px 1px 5px rgba(0,0,0,.2);}
.hayui-layer-load{background:url(loading-1.gif) #eee center center no-repeat;}
.hayui-layer-ico{background:url(icon.png) no-repeat;}
.hayui-layer-dialog .hayui-layer-ico, .hayui-layer-setwin a, .hayui-layer-btn a{display:inline-block; vertical-align:top; *display:inline; *zoom:1;}

.hayui-layer-move{display:none; position:fixed; top:0px; left:0px; z-index:2147483647; width:100%; height:100%; background-color:#fff; opacity:0; cursor:move; *position:absolute; filter:alpha(opacity=0);}
.hayui-layer-resize{position:absolute; right:0; bottom:0; width:15px; height:15px; cursor:se-resize;}

/* 动画 */
.layer-anim{-webkit-animation-duration:.3s; animation-duration:.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}

@-webkit-keyframes layer-bounceIn{/* 默认 */
  0%{opacity:0; -webkit-transform:scale(.5); transform:scale(.5)}
  100%{opacity:1; -webkit-transform:scale(1); transform:scale(1)}}
@keyframes layer-bounceIn{0%{opacity:0; -webkit-transform:scale(.5); -ms-transform:scale(.5); transform:scale(.5)}
  100%{opacity:1; -webkit-transform:scale(1); -ms-transform:scale(1); transform:scale(1)}}
.layer-anim-00{-webkit-animation-name:layer-bounceIn; animation-name:layer-bounceIn}

@-webkit-keyframes layer-zoomInDown{0%{opacity:0; -webkit-transform:scale(.1) translateY(-2000px); transform:scale(.1) translateY(-2000px); -webkit-animation-timing-function:ease-in-out; animation-timing-function:ease-in-out}60%{opacity:1; -webkit-transform:scale(.475) translateY(60px); transform:scale(.475) translateY(60px); -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out}}@keyframes layer-zoomInDown{0%{opacity:0; -webkit-transform:scale(.1) translateY(-2000px); -ms-transform:scale(.1) translateY(-2000px); transform:scale(.1) translateY(-2000px); -webkit-animation-timing-function:ease-in-out; animation-timing-function:ease-in-out}60%{opacity:1; -webkit-transform:scale(.475) translateY(60px); -ms-transform:scale(.475) translateY(60px); transform:scale(.475) translateY(60px); -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out}}.layer-anim-01{-webkit-animation-name:layer-zoomInDown; animation-name:layer-zoomInDown}

@-webkit-keyframes layer-fadeInUpBig{0%{opacity:0; -webkit-transform:translateY(2000px); transform:translateY(2000px)}100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0)}}@keyframes layer-fadeInUpBig{0%{opacity:0; -webkit-transform:translateY(2000px); -ms-transform:translateY(2000px); transform:translateY(2000px)}100%{opacity:1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0)}}.layer-anim-02{-webkit-animation-name:layer-fadeInUpBig; animation-name:layer-fadeInUpBig}

@-webkit-keyframes layer-zoomInLeft{0%{opacity:0; -webkit-transform:scale(.1) translateX(-2000px); transform:scale(.1) translateX(-2000px); -webkit-animation-timing-function:ease-in-out; animation-timing-function:ease-in-out}60%{opacity:1; -webkit-transform:scale(.475) translateX(48px); transform:scale(.475) translateX(48px); -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out}}@keyframes layer-zoomInLeft{0%{opacity:0; -webkit-transform:scale(.1) translateX(-2000px); -ms-transform:scale(.1) translateX(-2000px); transform:scale(.1) translateX(-2000px); -webkit-animation-timing-function:ease-in-out; animation-timing-function:ease-in-out}60%{opacity:1; -webkit-transform:scale(.475) translateX(48px); -ms-transform:scale(.475) translateX(48px); transform:scale(.475) translateX(48px); -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out}}.layer-anim-03{-webkit-animation-name:layer-zoomInLeft; animation-name:layer-zoomInLeft}

@-webkit-keyframes layer-rollIn{0%{opacity:0; -webkit-transform:translateX(-100%) rotate(-120deg); transform:translateX(-100%) rotate(-120deg)}100%{opacity:1; -webkit-transform:translateX(0px) rotate(0deg); transform:translateX(0px) rotate(0deg)}}@keyframes layer-rollIn{0%{opacity:0; -webkit-transform:translateX(-100%) rotate(-120deg); -ms-transform:translateX(-100%) rotate(-120deg); transform:translateX(-100%) rotate(-120deg)}100%{opacity:1; -webkit-transform:translateX(0px) rotate(0deg); -ms-transform:translateX(0px) rotate(0deg); transform:translateX(0px) rotate(0deg)}}.layer-anim-04{-webkit-animation-name:layer-rollIn; animation-name:layer-rollIn}

@keyframes layer-fadeIn{0%{opacity:0}100%{opacity:1}}.layer-anim-05{-webkit-animation-name:layer-fadeIn; animation-name:layer-fadeIn}

@-webkit-keyframes layer-shake{0%, 100%{-webkit-transform:translateX(0); transform:translateX(0)}10%, 30%, 50%, 70%, 90%{-webkit-transform:translateX(-10px); transform:translateX(-10px)}20%, 40%, 60%, 80%{-webkit-transform:translateX(10px); transform:translateX(10px)}}@keyframes layer-shake{0%, 100%{-webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0)}10%, 30%, 50%, 70%, 90%{-webkit-transform:translateX(-10px); -ms-transform:translateX(-10px); transform:translateX(-10px)}20%, 40%, 60%, 80%{-webkit-transform:translateX(10px); -ms-transform:translateX(10px); transform:translateX(10px)}}.layer-anim-06{-webkit-animation-name:layer-shake; animation-name:layer-shake}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}

/* 标题栏 */
.hayui-layer-title{height:42px; line-height:42px; padding:0 80px 0 20px; font-size:14px; color:#333; border-bottom:1px solid #eee; border-radius:2px 2px 0 0; background-color:#F8F8F8; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.hayui-layer-setwin{position:absolute; top:15px; right:15px; line-height:initial; font-size:0; *right:0;}
.hayui-layer-setwin a{position:relative; width:16px; height:16px; margin-left:10px; font-size:12px; _overflow:hidden;}
.hayui-layer-setwin .hayui-layer-min cite{position:absolute; top:50%; left:0; width:14px; height:2px; margin-top:-1px; background-color:#2E2D3C; cursor:pointer; _overflow:hidden;}
.hayui-layer-setwin .hayui-layer-min:hover cite{background-color:#2D93CA;}
.hayui-layer-setwin .hayui-layer-max{background-position:-32px -40px;}
.hayui-layer-setwin .hayui-layer-max:hover{background-position:-16px -40px;}
.hayui-layer-setwin .hayui-layer-maxmin{background-position:-65px -40px;}
.hayui-layer-setwin .hayui-layer-maxmin:hover{background-position:-49px -40px;}
.hayui-layer-setwin .hayui-layer-close1{background-position:1px -40px; cursor:pointer;}
.hayui-layer-setwin .hayui-layer-close1:hover{opacity:0.7;}
.hayui-layer-setwin .hayui-layer-close2{position:absolute; top:-28px; right:-28px; width:30px; height:30px; margin-left:0; background-position:-149px -31px; *right:-18px; _display:none;}
.hayui-layer-setwin .hayui-layer-close2:hover{background-position:-180px -31px;}

/* 按钮栏 */
.hayui-layer-btn{padding:0 15px 12px; -webkit-user-select:none; user-select:none; text-align:right; pointer-events:auto;}
.hayui-layer-btn a{height:28px; line-height:28px; margin:5px 5px 0; padding:0 15px; font-weight:400; color:#333; border:1px solid #dedede; border-radius:2px; background-color:#fff; cursor:pointer; text-decoration:none;}
.hayui-layer-btn a:hover{opacity:0.9; text-decoration:none;}
.hayui-layer-btn a:active{opacity:0.8;}
.hayui-layer-btn .hayui-layer-btn0{color:#fff; border-color:#1E9FFF; background-color:#1E9FFF;}
.hayui-layer-btn-l{text-align:left;}
.hayui-layer-btn-c{text-align:center;}

/* 定制化 */
.hayui-layer-dialog{min-width:260px;}
.hayui-layer-dialog .hayui-layer-content{position:relative; line-height:24px; padding:20px; font-size:14px; overflow:hidden; overflow-x:hidden; overflow-y:auto; word-break:break-all;}
.hayui-layer-dialog .hayui-layer-content .hayui-layer-ico{position:absolute; top:16px; left:15px; width:30px; height:30px; _left:-40px;}
.hayui-layer-ico1{background-position:-30px 0}
.hayui-layer-ico2{background-position:-60px 0;}
.hayui-layer-ico3{background-position:-90px 0;}
.hayui-layer-ico4{background-position:-120px 0;}
.hayui-layer-ico5{background-position:-150px 0;}
.hayui-layer-ico6{background-position:-180px 0;}
.hayui-layer-rim{border:6px solid #8D8D8D; border:6px solid rgba(0,0,0,.3); border-radius:5px; box-shadow:none;}
.hayui-layer-msg{min-width:180px; color:#F00; border:1px solid #F00; box-shadow:none;}
.hayui-layer-gray{min-width:100px; color:#FFF; border:none; background-color:#000; background-color:rgba(0,0,0,0.6); filter:alpha(opacity=60);}
.hayui-layer-gray .hayui-layer-content{padding:12px 25px; text-align:center;}
.hayui-layer-dialog .hayui-layer-padding{padding:20px 20px 20px 55px; text-align:left;}
.hayui-layer-page .hayui-layer-content{position:relative; overflow:initial;}
.hayui-layer-page .hayui-layer-btn, .hayui-layer-iframe .hayui-layer-btn{padding-top:10px;}
.hayui-layer-nobg{background:none;}
.hayui-layer-iframe iframe{display:block; width:100%;}

.hayui-layer-loading{border:none; border-radius:100%; background:none; box-shadow:none;}
.hayui-layer-loading .hayui-layer-content{width:60px; height:24px; background:url(loading-0.gif) no-repeat;}
.hayui-layer-loading .hayui-layer-loading1{width:37px; height:37px; background:url(loading-1.gif) no-repeat;}
.hayui-layer-loading .hayui-layer-loading2, .hayui-layer-ico16{width:32px; height:32px; background:url(loading-2.gif) no-repeat;}
.hayui-layer-tips{border:none; background:none; box-shadow:none;}
.hayui-layer-tips .hayui-layer-content{position:relative; min-width:12px; line-height:20px; padding:2px 5px; font-size:12px; color:#fff; border-radius:2px; background-color:#000; box-shadow:1px 1px 3px rgba(0,0,0,.2); _float:left;}
.hayui-layer-tips .hayui-layer-close{top:-1px; right:-2px;}
.hayui-layer-tips i.hayui-layer-TipsG{position:absolute; width:0; height:0; border-width:8px; border-style:dashed; border-color:transparent; *overflow:hidden;}
.hayui-layer-tips i.hayui-layer-TipsT, .hayui-layer-tips i.hayui-layer-TipsB{left:5px; border-right-style:solid; border-right-color:#000;}
.hayui-layer-tips i.hayui-layer-TipsT{bottom:-8px;}
.hayui-layer-tips i.hayui-layer-TipsB{top:-8px;}
.hayui-layer-tips i.hayui-layer-TipsR, .hayui-layer-tips i.hayui-layer-TipsL{top:5px; border-bottom-style:solid; border-bottom-color:#000;}
.hayui-layer-tips i.hayui-layer-TipsR{left:-8px;}
.hayui-layer-tips i.hayui-layer-TipsL{right:-8px;}

/* skin */
.hayui-layer-lan[type="dialog"]{min-width:280px;}
.hayui-layer-lan .hayui-layer-title{color:#fff; border:none; background:#4476A7;}
.hayui-layer-lan .hayui-layer-btn{padding:5px 10px 10px; border-top:1px solid #E9E7E7text-align:right;}
.hayui-layer-lan .hayui-layer-btn a{color:#333; border-color:#E9E7E7; background:#fff;}
.hayui-layer-lan .hayui-layer-btn .hayui-layer-btn1{background:#C9C5C5;}
.hayui-layer-molv .hayui-layer-title{color:#fff; border:none; background:#009f95;}
.hayui-layer-molv .hayui-layer-btn a{border-color:#009f95; background:#009f95;}
.hayui-layer-molv .hayui-layer-btn .hayui-layer-btn1{background:#92B8B1;}


/**

 @Name: layer拓展样式

 */

.hayui-layer-iconext{background:url(icon-ext.png) no-repeat;}

/* prompt模式 */
.hayui-layer-prompt .hayui-layer-input{display:block; width:230px; height:36px; line-height:30px; margin:0 auto; padding-left:10px; color:#333; border:1px solid #e6e6e6;}
.hayui-layer-prompt textarea.hayui-layer-input{width:300px; height:100px; line-height:20px; padding:6px 10px;}
.hayui-layer-prompt .hayui-layer-content{padding:20px;}
.hayui-layer-prompt .hayui-layer-btn{padding-top:0;}

/* tab模式 */
.hayui-layer-tab{box-shadow:1px 1px 50px rgba(0,0,0,.4);}
.hayui-layer-tab .hayui-layer-title{padding-left:0; overflow:visible;}
.hayui-layer-tab .hayui-layer-title span{float:left; position:relative; min-width:80px; max-width:260px; padding:0 20px; overflow:hidden; cursor:default; cursor:pointer; text-align:center; white-space:nowrap; text-overflow:ellipsis;}
.hayui-layer-tab .hayui-layer-title span.hayui-this{z-index:10; height:43px; border-right:1px solid #eee; border-left:1px solid #eee; background-color:#fff;}
.hayui-layer-tab .hayui-layer-title span:first-child{border-left:none;}
.hayui-layer-tabmain{line-height:24px; clear:both;}
.hayui-layer-tabmain .hayui-layer-tabli{display:none;}
.hayui-layer-tabmain .hayui-layer-tabli.hayui-this{display:block;}

/* photo模式 */
.hayui-layer-photos{-webkit-animation-duration:.8s; animation-duration:.8s;}
.hayui-layer-photos .hayui-layer-content{overflow:hidden; text-align:center;}
.hayui-layer-photos .hayui-layer-phimg img{display:inline-block; position:relative; width:100%; vertical-align:top; *display:inline; *zoom:1;}
.hayui-layer-imguide, .hayui-layer-imgbar{display:none;}
.hayui-layer-imgprev, .hayui-layer-imgnext{position:absolute; top:50%; width:27px; height:44px; margin-top:-22px; outline:none; _width:44px; blr:expression(this.onFocus=this.blur());}
.hayui-layer-imgprev{left:10px; background-position:-5px -5px; _background-position:-70px -5px;}
.hayui-layer-imgprev:hover{background-position:-33px -5px; _background-position:-120px -5px;}
.hayui-layer-imgnext{right:10px; background-position:-5px -50px; _right:8px; _background-position:-70px -50px;}
.hayui-layer-imgnext:hover{background-position:-33px -50px; _background-position:-120px -50px;}
.hayui-layer-imgbar{position:absolute; bottom:0; left:0; width:100%; height:32px; line-height:32px; font-size:0; color:#fff; background-color:rgba(0,0,0,.8); background-color:#000\9; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; filter:Alpha(opacity=80);}
.hayui-layer-imgtit{/*position:absolute; left:20px;*/}
.hayui-layer-imgtit *{display:inline-block; font-size:12px; vertical-align:top; *display:inline; *zoom:1;}
.hayui-layer-imgtit a{max-width:65%; color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.hayui-layer-imgtit a:hover{color:#fff; text-decoration:underline;}
.hayui-layer-imgtit em{padding-left:10px; font-style:normal;}

/* 关闭动画 */
@-webkit-keyframes layer-bounceOut{100%{opacity:0; -webkit-transform:scale(.7); transform:scale(.7)}
  30%{-webkit-transform:scale(1.05); transform:scale(1.05)}
  0%{-webkit-transform:scale(1); transform:scale(1);}}
@keyframes layer-bounceOut{100%{opacity:0; -webkit-transform:scale(.7); -ms-transform:scale(.7); transform:scale(.7);}
  30%{-webkit-transform:scale(1.05); -ms-transform:scale(1.05); transform:scale(1.05);}
  0%{-webkit-transform:scale(1); -ms-transform:scale(1); transform:scale(1);}}
.layer-anim-close{-webkit-animation-name:layer-bounceOut; animation-name:layer-bounceOut; -webkit-animation-duration:.2s; animation-duration:.2s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}

@media screen and (max-width: 1100px){.hayui-layer-iframe{overflow-y:auto; -webkit-overflow-scrolling:touch;}}


