/**
 @Name: hayui
 @Author:hallelujah
 */
/* 椤堕儴瀵艰埅 */
.leaguer-nav{position:relative; z-index:10; width:100%; height:60px; background:#0070EA; box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.5);}
.leaguer-nav .hayui-nav{float:left; margin-left:30px; background:#0070EA;}
.leaguer-nav .hayui-nav .hayui-nav-item{margin:0 5px;}
.leaguer-nav .hayui-logo{float:left; height:60px; overflow:hidden; zoom:1;}
.leaguer-nav .hayui-logo .logo-img{float:left; width:111px; height:100%; background:url(../images/qpr-logo-1.png) no-repeat center center; overflow:hidden;}
.leaguer-nav .hayui-logo .logo-txt{float:left; height:30px; line-height:30px; margin:15px 0 15px 10px; padding:0 0 0 10px; font-size:16px; color:#FFF; border-left:1px solid rgba(255, 255, 255, 0.5); overflow:hidden; cursor:default;}
.leaguer-nav .hayui-nav-bar, .leaguer-nav .hayui-this:after{background-color:#FFF;}


/* 鍨傜洿瀵艰埅鑿滃崟 */
.leaguer-sidemenu{float:left;/*  border-right:1px solid #E4E4E4; */ position:absolute; left:0; min-height:100%; background:#FFF; z-index:9;}
.leaguer-sidemenu .hayui-nav{padding:10px 0 100px 0; background:#FFF;}
.leaguer-sidemenu .hayui-nav-tree .hayui-this, .leaguer-sidemenu .hayui-nav-tree .hayui-this >a, .leaguer-sidemenu .hayui-nav-tree .hayui-this >a:hover, .leaguer-sidemenu .hayui-nav-tree .hayui-nav-child dd.hayui-this, .leaguer-sidemenu .hayui-nav-tree .hayui-nav-child dd.hayui-this a{color:#FFF !important; background-color:#0070EA;}

.hayui-nav-tree{width:180px; min-height:1260px; padding:0;}
.hayui-nav-tree .hayui-nav-item{display:block; width:100%; line-height:35px;}
.hayui-nav-tree .hayui-nav-item a{height:35px; font-weight:700; color:#444; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.hayui-nav-tree .hayui-nav-item a:hover{color:#0070EA !important; background-color:transparent;}
.hayui-nav-tree .hayui-nav-bar{width:2px; height:0;}
.hayui-nav-tree .hayui-this, .hayui-nav-tree .hayui-this >a, .hayui-nav-tree .hayui-this >a:hover, .hayui-nav-tree .hayui-nav-child dd.hayui-this, .hayui-nav-tree .hayui-nav-child dd.hayui-this a{color:#FFF; background-color:#0070EA;}
.hayui-nav-tree .hayui-this:after{display:none;}
.hayui-nav-tree .hayui-nav-title a, .hayui-nav-tree .hayui-nav-title a:hover, .hayui-nav-itemed >a{color:#444 !important;}
.hayui-nav-tree .hayui-nav-bar{background-color:#0070EA;}

.hayui-nav-tree .hayui-nav-more{width:0; height:0; border-style:dashed; border-color:transparent; overflow:hidden; content:''; cursor:pointer; -webkit-transition:all .2s; transition:all .2s;}
.hayui-nav-tree .hayui-nav-more{position:absolute; top:28px; right:3px; border-width:6px; border-top-style:solid; border-top-color:#999;}
.hayui-nav-tree .hayui-nav-mored, .hayui-nav-itemed .hayui-nav-more{top:22px; border-style:dashed; border-color:transparent; border-bottom-style:solid; border-bottom-color:#999;}

.hayui-nav-tree .hayui-nav-item a:hover .hayui-nav-more{border-color:transparent;  border-top-color:#0070EA;}
.hayui-nav-tree .hayui-nav-itemed a:hover .hayui-nav-more{border-color:transparent;  border-bottom-color:#0070EA;}


.hayui-nav-tree .hayui-nav-child{position:relative; top:0; z-index:0; border:none; box-shadow:none;}
.hayui-nav-tree .hayui-nav-child a{height:30px; line-height:30px; font-weight:500; text-indent:15px;}
.hayui-nav-tree .hayui-nav-child a{color:#666;}
.hayui-nav-tree .hayui-nav-child a:hover, .hayui-nav-tree .hayui-nav-child{color:#FFF; background:none;}
.hayui-nav-tree .hayui-nav-more{top:17px; right:20px;}
.hayui-nav-itemed .hayui-nav-more{top:10px;}
.hayui-nav-itemed .hayui-nav-child{display:block; padding:0; background:#FFF !important;}


/* 鍚庡彴鍒囨崲 */
.leaguer-switch-btn{display:inline-block; float:left; height:60px; line-height:60px; margin-left:80px; font-size:0; vertical-align:middle; -webkit-text-size-adjust:none;}
.leaguer-switch-btn .tsb-btn{display:inline-block; padding-right:1px; vertical-align:middle;}
.leaguer-switch-btn .tsb-btn a{display:block; height:30px; line-height:28px; padding:0 20px; font-size:12px; color:#FFF; background:#1E9FFF;}
.leaguer-switch-btn .tsb-btn:hover a{color:#FFF; background:#68AFFF;}
.leaguer-switch-btn .tsb-btn.active a{color:#0070EA; background:#FFF; cursor:default;}