/*foot site supervise icon */
.site-supervise-icon{display:inline-block; position:relative; background:url('../../Images/site-supervise-icon.png') no-repeat; vertical-align:middle;}
.ss-HBGSWJ{width:94px; height:33px; background-position:0 0;}

/*foot app version icon */
.app-v-icon{display:inline-block; position:relative; background:url('../../Images/app-v-icon.png') no-repeat; vertical-align:middle;}
.avi-i{width:19px; height:23px; background-position:0 0;}
.avi-a{width:21px; height:22px; background-position:0 -40px;}

.beian-icon{display:inline-block; width:20px; height:20px; background:url('../../Images/beian.png') no-repeat center center; vertical-align:middle;}

/* foot */
.pw-foot{padding:50px 0 5px 0; background:#232323;}
.pw-foot .foot-box{font-family:'Microsoft YaHei';}

/* foot logo */
.pw-foot .foot-box .fb-logo{float:left; width:130px; min-height:50px; overflow:hidden;}
.pw-foot .foot-box .fb-logo .logo-img{display:inline-block; width:130px; height:44px; background-image:url('../../Images/qpr_logo_CFFF.png'); background-size:130px auto; opacity:0.6; filter:Alpha(opacity=60);}

/* foot service */
.pw-foot .foot-box .fb-service{float:left; margin-left:50px;}
.pw-foot .foot-box .fb-service .group-spot{/**/ margin-left:-20px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item{float:left; width:150px; margin:0 0 0 30px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .item-tit{font-size:16px; color:#CCC;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .item-list{line-height:24px; margin-top:15px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item.item-multiseriate{width:240px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item.item-multiseriate .item-list a{float:left; width:35%;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .item-list a{display:block; font-size:12px; color:#666;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .item-list a:hover{color:#F60;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .m-siteurl{font-size:12px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code{position:relative; top:auto; right:auto; z-index:auto; padding:0;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code .app-btn{width:150px; margin-top:10px; padding:5px 0; font-size:14px; font-family:Arial; color:#999; background:#333; cursor:pointer; text-align:center;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code .app-code{display:none; position:absolute; top:30px; left:0; z-index:2; padding-top:10px;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code .app-code .qpr-qrcode{width:150px; height:100px; padding:25px 0; background:#333; text-align:center;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code .app-code .qpr-qrcode .app-qpr-qrcode{display:inline-block; width:100px; height:100px; background-image:url('../../Images/qprApp-QRCode.png'); background-size:100px auto; vertical-align:middle;}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code:hover .app-btn{opacity:0.8; filter:Alpha(opacity=80);}
.pw-foot .foot-box .fb-service .group-spot .spot-item .qr-code:hover .app-code{display:inline-block;}

/* foot site info */
.pw-foot .foot-box .fb-siteinfo{margin-top:30px; padding:30px 0 0 0; border-top:1px solid #333;}
.pw-foot .foot-box .fb-siteinfo .site-nav{overflow:hidden;}
.pw-foot .foot-box .fb-siteinfo .site-nav a{display:inline-block; color:#777; vertical-align:middle;}
.pw-foot .foot-box .fb-siteinfo .site-nav a:hover{color:#F60;}
.pw-foot .foot-box .fb-siteinfo .site-nav .v-line{display:inline-block; margin:0 5px; vertical-align:middle;}
.pw-foot .foot-box .fb-siteinfo .site-info{line-height:24px; margin-top:10px; padding:10px 0 0 0; color:#555;}
.pw-foot .foot-box .fb-siteinfo .site-supervise{padding:20px 0 0 0;}