/* supply product slogan */
.proctrl-slogan{display:inline-block; width:294px; height:24px; background:url(../images/slogan.png) no-repeat center center;}

/* supply product btn */
.proctrl-shadebtn{display:inline-block; height:50px; line-height:50px; padding:0 50px; font-size:16px; outline:none; box-shadow:0 5px 2px rgba(0, 0, 0, .1); cursor:pointer; text-align:center;}
.proctrl-shadebtn:active{position:relative; top:1px;}
.proctrl-shadebtn-orange{color:#FFF; border:solid 1px #FF800C; background:#FF800C; background:-webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#FF800C)); background:-moz-linear-gradient(top, #faa51a, #FF800C);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}
.proctrl-shadebtn-orange:hover{color:#FFF; background:#FF800C; background:-webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background:-moz-linear-gradient(top, #f88e11, #f06015);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');}
.proctrl-shadebtn-orange:active{color:#FFF; background:-webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background:-moz-linear-gradient(top, #f47a20, #faa51a);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}

/* data up link */
.datauplink-panel .datauplink-cont{height:272px;}
.datauplink-panel .uplink-box{width:180px; height:260px;}
.datauplink-panel .uplink-box .ub-ul li:hover a{color:#0070EA;}
.datauplink-panel .uplink-box .ub-ul li:hover .icon-r{border-left-color:#0070EA;}
.datauplink-panel .uplink-box .ub-ul li.active{background:#ECF5FF;}
.datauplink-panel .uplink-box .ub-ul li.active a{color:#0070EA;}
.datauplink-panel .uplink-box .ub-ul li.active .icon-r{border-color:#ECF5FF; border-left-color:#0070EA;}



/* 发布产品 优化建议 */
.yhjy{position:absolute; top:auto; right:0px; z-index:999; border:1px solid #E4E4E4; background:#FFF;}
.yhjy .tit{position:absolute; top:-1px; left:-31px; width:20px; line-height:20px; padding:5px 0 5px 8px; font-weight:700; color:#333; border:1px solid #ddd; background:#ddd; cursor:pointer;}
.yhjy .tit span i{display:inline-block; font-size:14px; font-weight:700; color:#0070EA;}
.yhjy .yhjy_min{width:195px;}
.nowstar{line-height:30px; padding:10px 0px; text-align:center;}
.yhjy_con{width:175px; padding:10px; border-top:1px solid #DCDCDC; overflow:hidden; clear:both;}
.yhjy_con li{height:25px; line-height:25px;}
.yhjy_con li span{display:inline-block; float:right; width:85px; overflow:hidden; clear:right; text-align:left;}
.yhjy_con li span strong{margin-right:10px; color:#F60;}
a.jsxj{display:block; width:80px; height:25px; line-height:25px; margin:10px 0px 0px 40px;}
.hid{display:none;}
.hstar{display:block; height:20px; line-height:20px;}