/*panel*/
.pw-panel{width:100%; min-width:1200px; background:#fff;}

.pw-w1200{width:1200px; margin:0 auto;}
/*float left & right*/
.pw-fl{float:left;}
.pw-fr{float:right;}

.w50{width:50px !important;}
.w80{width:80px !important;}
.w100{width:100px !important;}
.w150{width:150px !important;}
.w200{width:200px !important;}
.w320{width:320px !important;}
.w468{width:468px !important;}
.h-50{height:50px !important;}
.h-70{height:70px !important;}
.h-80{height:80px !important;}
.h-90{height:90px !important;}
.h-100{height:100px !important;}

/*margin value*/
.m0{margin:0 !important;}
.mr0{margin-right:0 !important;}
.mr10{margin-right:10px;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
/*padding value*/
.plr5{padding:0 5px !important;}
.pl0{padding-left:0px !important;}
.pl20{padding-left:20px !important;}
.pl90{padding-left:90px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
/*border value*/
.bt0{border-top:0 !important;}
.bb0{border-bottom:0 !important;}
.bl0{border-left:0 !important;}
.br0{border-right:0 !important;}
/*hide*/
.hide{display:none;}

/*display & middle*/
.di-vm{display:inline-block; vertical-align:middle;}
/*text align*/
.t-l{text-align:left;}
.t-c{text-align:center;}
.t-r{text-align:right;}

/*fonts*/
.f12{font-size:12px !important;}
.f14{font-size:14px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.fw7{font-weight:700 !important;}
.ff-ha{font-family:'Microsoft YaHei', Helvetica, Arial;}
/*color*/
.c-333{color:#333 !important;}
.c-CCC{color:#CCC !important;}
.c-0066CD{color:#0066CD !important;}
.c-E6000A{color:#E6000A !important;}
.c-F60{color:#F60 !important;}
.bg-F0F0F0{background:#F0F0F0 !important;}
.bg-F9F9F9{background:#F9F9F9 !important;}


/* clear */
.clearfix{*zoom:1;}
.clearfix:after{clear:both;}
.clearfix:after, .clearfix:before{display:table; content:'';}


/*head*/
.pw-head{height:90px; padding:20px 0; overflow:hidden; zoom:1;}
/*head panel logo*/
.pw-head .pwp-logo{float:left; width:320px;}
.pwp-logo .pl-logo{display:inline-block; float:left; width:152px; height:52px; margin:14px 15px 0 0; background:url('../../images/qpr_logo.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-1{display:inline-block; font-size:20px; font-weight:500; font-family:'Microsoft YaHei'; vertical-align:middle;}
.pwp-logo .pl-logo-tit{display:inline-block; width:69px; height:40px; height:39px; line-height:40px; margin:23px 0 0 0; padding-left:30px; border-left:1px solid #E4E4E4; background:url('../../images/qpr_logo_1.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwp-logo .pl-logo-tit img{margin:0 0 0 15px;}
.pwp-logo .pl-logo-text{display:inline-block; height:52px; line-height:52px; margin:10px 0 0 0; padding-left:10px; font-size:16px; font-weight:500; font-family:'Microsoft YaHei'; color:#666; border-left:1px solid #E4E4E4; overflow:hidden; vertical-align:middle;}

/*head special*/
.pw-head-special{width:100%; min-width:1200px; background:#0070EA;}
.pw-head-special .pws-head{height:80px; overflow:hidden; zoom:1;}
.pws-head .pwps-logo{float:left;}
.pwps-logo .pl-logo{display:inline-block; float:left; width:152px; height:52px; margin:14px 15px 0 0; background:url('../../images/qpr_logo_CFFF.png') no-repeat center center; overflow:hidden; vertical-align:middle;}
.pwps-logo .pl-logo-text{display:inline-block; float:left; height:52px; margin:10px 0 0 0; padding-left:15px; font-family:'Microsoft YaHei'; border-left:1px solid #CCC; overflow:hidden; text-align:center; vertical-align:middle;}
.pwps-logo .pl-logo-text .pllt-tit{display:block; line-height:25px; font-size:20px; font-weight:500; color:#FFF; letter-spacing:1px;}
.pwps-logo .pl-logo-text .pllt-tip{display:block; margin-top:5px; padding:0 10px; font-size:12px; font-weight:500; font-family:'SimSun'; color:#FFF; border:1px solid #FFF; border-radius:10px;}

/*head panel online*/
.pw-head .pwp-online{float:right; position:relative; top:35px;}
/*head panel search*/
.pw-panel .pwp-search{float:left; width:670px; margin:2px 0 0 50px;}
/*head panel search tab*/
.pwp-search .pwps-tab{margin-bottom:2px; overflow:hidden; zoom:1;}
.pwps-tab a{float:left; height:25px; line-height:25px; font-size:12px; color:#333; cursor:pointer;}
.pwps-tab i{float:left; line-height:25px; margin:0 8px; font-size:13px; font-weight:500; color:#ccc;}
.pwps-tab a:hover{color:#F60;}
.pwps-tab a.active{color:#F60;}
/*head panel search tab form*/
.pwp-search .pwps-form{position:relative; z-index:10; width:100%; height:38px; overflow:hidden; zoom:1;}
.pwps-form .ps-text{position:absolute; left:0; z-index:10; width:540px; height:20px; line-height:20px; padding:7px 5px; font-size:12px; color:#999; border:2px solid #999; border-right:0; background-color:#fff; text-indent:5px;}
.pwps-form .ps-icon{position:absolute; top:8px; left:12px; z-index:12; width:18px; height:18px; background-position:-36px 0;}
.pwps-form .ps-btn{position:absolute; right:0; z-index:10; width:120px; height:38px; font-size:14px; font-weight:500; font-family:'Microsoft YaHei'; color:#fff; border:0; background:#0070EA; cursor:pointer;}
.pwp-search .pwps-lately{margin-top:3px; overflow:hidden; zoom:1;}
.pwp-search .pwps-lately a{float:left; margin-right:10px; font-size:12px; color:#666;}

/*head panel ewm*/
.pw-panel .qhp-ewm{float:right; position:relative; z-index:10; width:105px; height:90px;}
.qhp-ewm dl{position:absolute; left:15px; width:88px; height:88px; border:1px solid #E4E4E4;}
.qhp-ewm dl dt{height:20px; line-height:20px; text-align:center;}
.qhp-ewm dl dd{padding:3px 14px 7px 14px;}
.qhp-ewm .qh-close{display:inline-block; position:absolute; width:15px; height:15px; border:1px solid #E4E4E4; border-right:0; background:#fff; cursor:pointer;}
.qhp-ewm .qh-close i{position:relative; top:3px; left:2px; width:9px; height:9px; background-position:0 -26px;}
.qhp-ewm .qh-close:hover i{background-position:-18px -26px;}




.h-w1200{width:1200px; margin:0 auto;}
/*float left & right*/
.h-fl{float:left;}
.h-fr{float:right;}
.w468{width:468px !important;}
/*margin value*/
.mr0{margin-right:0 !important;}
.ml0{margin-left:0 !important;}
.mr10{margin-right:10px;}
/*padding value*/
.pl20{padding-left:20px !important;}
/*border value*/
.bt0{border-top:0 !important;}
/*小竖线*/
.h-vline{position:relative; top:8px; height:14px; line-height:14px; margin:0 10px; font-size:0; font-weight:500; color:#ddd; border-left:1px solid #ddd;}
/*小图标*/
.h-icon{display:inline-block; position:relative; background:url('../../Images/h-icon.png') no-repeat; vertical-align:middle;}
/*op icon*/
.op-icon{display:inline-block; position:relative; background:url('../../Images/op-icon.png') no-repeat; vertical-align:middle;}
.opi-50-1{width:50px; height:50px; background-position:0 0;}
.opi-50-2{width:50px; height:50px; background-position:-59px 0;}
.opi-50-3{width:50px; height:50px; background-position:-118px 0;}
.opi-50-4{width:50px; height:50px; background-position:-177px 0;}

/*top*/
.h-top{width:100%; min-width:1200px; border-bottom:1px solid #ECECEC; background:#F3F3F3; zoom:1;}
.h-top *{box-sizing:content-box;}
.h-top .ht-link{height:30px; line-height:30px; zoom:1;}
/*top down*/
dl.h-down{position:relative; z-index:999; width:80px; margin:0 17px 0 8px; cursor:pointer; text-align:center;}
dl.h-down.ltb1{left:1px; _left:-1px;}
dl.h-down dt{position:relative; top:8px; width:100%; height:14px; line-height:14px; border-right:1px solid #ddd; border-left:1px solid #ddd;}
dl.h-down dt a{display:inline-block; margin-left:-10px;}
dl.h-down dt i.h-icon{display:inline-block; position:absolute; top:4px; right:9px; width:9px; height:6px; background:url('../../Images/h-ta.png') no-repeat; background-position:0 0; vertical-align:middle;}
dl.h-sd dt i.h-icon{right:16px;}
dl.h-down dd{display:none; position:absolute; top:30px; left:0; z-index:999; width:100%; line-height:22px; padding:5px 0 3px 0; border:1px solid #ddd; background:#fff;}
dl.h-down dd a{display:block; height:22px; text-align:left; text-indent:10px;}
dl.h-down:hover dt{top:0px; height:30px; line-height:30px; border-color:#ddd; background:#fff;}
dl.h-down:hover dt i.h-icon{top:12px; background-position:-10px 0;}
dl.h-down:hover dd{display:inline-block; border-top:0;}
.h-cF60{color:#0066CD;}
/*head*/
.h-head{width:100%; background:#fff;}
/*head panel*/
.h-head .hh-panel{height:56px; padding:25px 0; zoom:1;}
/*head panel logo*/
.hh-panel .hhp-logo{float:left; min-width:430px;}
.hhp-logo a{display:inline-block; vertical-align:middle;}
.hhp-logo .logo{padding-right:10px; border-right:1px solid #E4E4E4;}
.hhp-logo .logo-1{margin-left:5px; *margin-left:10px;}
.hhp-logo .logo-2{margin-left:10px; *margin-left:15px;}
.hhp-logo .logo-txt{display:inline-block; height:52px; line-height:52px; padding-left:10px; font-size:18px; font-weight:500; font-family:'Microsoft YaHei'; color:#444;overflow:hidden; vertical-align:middle;}
/*head panel search*/
.hh-panel .hhp-search{float:left; width:450px; margin:2px 0 0 70px;}
.hhp-search .hhps-form{height:36px; zoom:1;}
.hhps-form .hs-text{float:left; width:378px; height:20px; line-height:20px; padding:6px 5px; font-size:14px; color:#444; border:2px solid #0066CD; border-right:0; background-color:#fff;}
.hhps-form .hs-btn{float:left; width:60px; height:36px; font-size:14px; font-weight:700; color:#fff; border:0; background:#0066CD; cursor:pointer;}
.hhp-search .hhps-hot{height:16px; margin-top:2px; overflow:hidden; zoom:1; cursor:pointer;}
.hhps-hot span{float:left; color:#888;}
.hhps-hot a{float:left; margin-right:10px; color:#888;}
.hhps-hot a:hover{color:#B61D1D;}
/*head panel mycart*/
.hh-panel .hhp-mycart{float:right; position:relative; width:118px; height:33px; line-height:33px; margin-top:2px; border:1px solid #E4E4E4; background:#F5F5F5; text-align:center;}
.hhp-mycart .hhpm-car{position:absolute; top:8px; left:8px; width:16px; height:13px; background-position:0 0;}
.hhp-mycart .hhpm-arrow{position:absolute; top:12px; right:12px; width:5px; height:9px; background-position:-25px 0;}

/* head menu :integral task */
.head-menu{height:52px; line-height:52px; margin-top:10px;}
.head-menu li{float:left; position:relative; margin:0 20px 0 0; padding:0 10px;}
.head-menu li a{font-size:16px; font-family:'Microsoft YaHei'; color:#000;}
.head-menu li a:hover{color:#B61D1D;}
.head-menu li .pos-mark{position:absolute; top:-2px; right:-75px; height:18px; line-height:18px; padding:0 2px; border:1px solid #F00; border-radius:3px; background:#F00;}
.head-menu li .pos-mark .pm-text{font-size:12px; color:#FFF;}
.head-menu li .pos-mark .pm-arrow{position:absolute; width:0px; height:0px; line-height:0px; border-width:7px 5px 0; border-style:solid dashed dashed dashed; border-right-color:transparent; border-left-color:transparent;}
.head-menu li .pos-mark .arrow-border{left:0; color:#F00;}
.head-menu li .pos-mark .arrow-bg{left:0; color:#F00;}


/*nav*/
.h-nav{width:100%; border-bottom:2px solid #0066CD; background:#fff;}
.h-nav .hn-menu{position:relative; z-index:100; zoom:1;}
/*nav 全部分类*/
.hn-menu .hnm-class{position:absolute; top:0; left:0; z-index:100; width:200px; height:37px; background:#0066CD; cursor:pointer;}
.hn-menu .hnm-class span{display:block; line-height:35px; margin-left:15px; font-size:14px; font-weight:700; color:#fff;}
.hn-menu .hnm-class b{display:block; position:absolute; top:10px; right:20px; width:20px; height:20px; background-image:url(../../Images/20130330A_2.png); background-repeat:no-repeat; background-position:-65px 0; _background:url(../Images/20130330A_2.jpg);}
.hn-menu .hnm-class span em{display:inline-block; font-size:14px; font-weight:700; color:#fff; vertical-align:middle;}
.hn-menu .hnm-class span i{margin-right:10px; top:2px;}
.hn-menu .hnm-icon{display:inline-block; position:relative; background:url('../../images/qpr_nav_icon.png') no-repeat; vertical-align:middle;}
.hn-menu .hi-all{width:17px; height:12px; background-position:0 0;}
.hnm-class:hover .hnmc-left{display:block;}
.hnm-class:hover .hnmc-other{display:block;}
/*nav 横向菜单*/
.hn-menu .hnm-list{position:relative; top:0; left:200px; width:1000px; overflow:hidden; zoom:1;}
.hn-menu .hnm-list li{float:left;}
.hn-menu .hnm-list li a{line-height:35px; padding:0 25px 0 32px; font-size:14px; font-weight:700; color:#444;}
.hn-menu .hnm-list li a:hover{color:#0066CD;}
/*nav class other*/
.hnm-class .hnmc-other{display:none; position:absolute; top:37px; left:0; z-index:100; width:198px; height:512px; border:1px solid #E4E4E4; border-top:0; background:#fff; overflow:hidden; cursor:pointer;}
.hnmc-other .hnmco-cont{padding:5px 10px; overflow:hidden; zoom:1;}
.hnmco-cont a{float:left; line-height:22px; margin:3px 5px; color:#222; white-space:nowrap;}
.hnmco-cont a:hover{color:#0066CD;}
.hnmco-cont .hnmco-line{display:block; float:left; width:100%; height:0; line-height:0; margin:15px 0; font-size:0; border:none; border-top:1px solid #f2f2f2; overflow:hidden; *height:1px; *margin:0 0 -14px 0;}
/*nav class left*/
.hnm-class .hnmc-left{display:none; position:absolute; top:37px; left:0; z-index:100; width:198px; height:512px; border:1px solid #E4E4E4; border-top:0; background:#fff; overflow:hidden; cursor:pointer;}
.hnm-class .hnmc-left li{position:relative; margin:0 10px; padding:13px 5px; border-top:1px solid #f2f2f2; overflow:visible;}
.hnm-class .hnmc-left li h3{height:20px; line-height:20px; font-size:12px; font-weight:500; color:#222; overflow:hidden; text-align:left;}
.hnm-class .hnmc-left li p{height:17px; line-height:17px; overflow:hidden; white-space:nowrap;}
.hnm-class .hnmc-left li p a{margin-right:10px; color:#888;}
.hnm-class .hnmc-left li p a:hover{color:#0066CD;}
.hnm-class .hnmc-left li i{position:absolute; top:25px; right:5px; width:6px; height:9px; background-position:-36px 0; _right:15px;}
.hnm-class .hnmc-left li:hover i{background-position:-46px 0;}
.hnm-class .hnmc-left li.active i{background-position:-46px 0;}
/*nav class right*/
.hnm-class .hnmc-right{display:none; position:absolute; top:37px; left:200px; background:#fff;}
.hnmc-right .hnmcr-cont{display:none; width:782px; height:512px; border:1px solid #E4E4E4; border-top:0; border-left:0; overflow:hidden; zoom:1;}
.hnmc-right .hnmcr-item-l{float:left; width:520px; padding-top:5px;}
.hnmc-right .hnmcr-adve-r{float:left; width:260px; padding-top:30px;}
.hnmcr-item-l .ldi-list{margin:0 35px; padding:20px 0 15px 0; border-top:1px dotted #E8E8E8; overflow:hidden; zoom:1;}
.hnmcr-item-l .ldi-list dd{float:left; width:81px; line-height:22px; padding:0 15px; overflow:hidden; white-space:nowrap;}
.llc-showy a{color:#2296E1;}
.hnmcr-adve-r .rdi-panel{margin:0 40px;}
.hnmcr-adve-r .rdi-panel a{display:inline-block; vertical-align:middle;}
.hnmcr-adve-r .rp-1 a{width:82px; margin:0 5px 20px 0; overflow:hidden;}
.hnmcr-adve-r .rp-2 a{width:180px; height:180px; margin-bottom:10px; overflow:hidden;}
.hn-menu .hover .hnmc-right{display:block; z-index:100;}


/*nav hide ad*/
.h-menu-hideAd{/**/}
.h-menu-hideAd .hnmc-right .hnmcr-cont{width:600px;}
.h-menu-hideAd .hnmc-right .hnmcr-item-l{width:600px;}
.h-menu-hideAd .hnmc-right .hnmcr-adve-r{display:none;}

/* 2017-03-30  */
/* head */
.h-head{/**/}
.h-head .hhps-form .hs-text{border-color:#B61D1D;}
.h-head .hhps-form .hs-btn{ background:#B61D1D;}
.h-head .hhp-mycart .hhpm-car{width:16px; height:16px; top:7px; background-position:-84px 0;}
.h-head .hhp-mycart:hover{color:#B61D1D;}
/* nav */
.h-nav{border-bottom-color:#B1191A;}
.h-nav .hn-menu .hnm-class{background:#B1191A;}
.h-nav .hn-menu .hnm-list li a:hover{color:#B61D1D;}
.h-nav .hn-menu-mall{/**/}
.h-nav .hn-menu-mall .hnm-class .hnmc-left{width:199px; height:341px; border-color:#C81623; border-right:0; background:#C81623;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li{margin:0 0 0 2px; padding:14px 10px; border:0;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li h3{font-size:14px;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li h3 a{color:#FFF;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li i{top:20px; right:25px; background-position:-25px -20px;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li:hover{background:#FFF;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li:hover h3 a{font-weight:700; color:#C81623;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li:hover i{background-position:-46px -20px;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li.active{background:#FFF;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li.active h3 a{font-weight:700; color:#C81623;}
.h-nav .hn-menu-mall .hnm-class .hnmc-left li.active i{background-position:-46px -20px;}
.h-nav .hn-menu-mall .hnmc-right .hnmcr-cont{height:341px;}
.h-nav .hn-menu-mall .hnmcr-item-l .ldi-list{border-top:0;}
.h-nav .hn-menu-mall .hnmcr-item-l .ldi-list dd{width:100px; line-height:35px;}
.h-nav .hn-menu-mall .hnmcr-item-l .ldi-list dd a{color:#333;}
.h-nav .hn-menu-mall .hnmcr-item-l .ldi-list dd a:hover{color:#C81623;}


/*right side start*/
.right-side{position:fixed; top:0; right:0; z-index:999; height:100%; zoom:1; _position:absolute; _right:-1px; _height:expression(document.documentElement.clientHeight);}/*modify*/
.right-side-menu{float:left; position:relative; width:40px; height:100%; background-color:#2a2a2e;}
.right-side-menu ul{position:absolute;}
.right-side-menu ul.menu-top{top:15%;}
.right-side-menu ul.menu-bot{bottom:0;}
.right-side-menu ul.menu-bot li{margin:0;}
.right-side-menu li{position:relative; width:40px; height:40px; margin:10px 0; cursor:pointer;}
.right-side-menu ul s{display:block; width:30px; width:26px; margin-left:7px; border-bottom:1px solid #444;}
.right-side-menu li span{display:none; position:absolute; position:absolute; top:0; right:60px; width:90px; height:40px; line-height:40px; color:#fff; background-color:#494949; -webkit-box-shadow:0 0 5px rgba(0,0,0,.2); -moz-box-shadow:0 0 5px rgba(0,0,0,.2); box-shadow:0 0 5px rgba(0,0,0,.2); opacity:0; text-align:center;}
.right-side-menu li span:before{position:absolute; top:10px; right:-5px; border-top:10px dashed transparent; border-bottom:10px dashed transparent; border-left:10px solid #494949; content:'';}
.right-side-menu li i{display:block; width:40px; height:40px; background:url(../../Images/right.png) no-repeat; _background:url(../../Images/right.jpg) no-repeat;}/*modify*/
.right-side-menu li i.user{background-position:0 0;}/*modify*/
.right-side-menu li i.cart{background-position:0 -40px;}
.right-side-menu li i.asset{background-position:0 -80px;}
.right-side-menu li i.at-shop{background-position:0 -120px;}
.right-side-menu li i.at-goods{background-position:1px -160px;}
.right-side-menu li i.history{background-position:2px -200px;}
.right-side-menu li i.go-top{background-position:0 -280px;}
.right-side-menu li i.go-advise{background-position:0 -320px;}
.right-side-menu li:hover i, .right-side-menu li.active i{background-color:#0066CD;}/*modify*/
.right-side-menu li.side-cart:hover, .right-side-menu li.side-cart.active{background:#0066CD;}/*modify*/
.right-side-menu li:hover i, .right-side-menu li.active i{_background:url(../../Images/right-hover.jpg) no-repeat;}/*modify*/
.right-side-menu li:hover i.user, .right-side-menu li.active i.user{background-position:0 0;}/*modify*/
.right-side-menu li:hover i.cart, .right-side-menu li.active i.cart{background-position:0 -40px;}/*modify*/
.right-side-menu li:hover i.asset, .right-side-menu li.active i.asset{background-position:0 -80px;}/*modify*/
.right-side-menu li:hover i.at-shop, .right-side-menu li.active i.at-shop{background-position:0 -120px;}/*modify*/
.right-side-menu li:hover i.at-goods, .right-side-menu li.active i.at-goods{background-position:1px -160px;}/*modify*/
.right-side-menu li:hover i.history, .right-side-menu li.active i.history{background-position:2px -200px;}/*modify*/
.right-side-menu li:hover i.go-top, .right-side-menu li.active i.go-top{background-position:0 -280px;}/*modify*/


.right-side-menu li.side-cart{ height: 120px; text-align: center; margin:0; padding:10px 0; +position:relative; +top:8px; +height:107px; _top:-10px; _padding:0;}
.right-side-menu li.side-cart p{margin:2px 0; padding:0 14px; color:#fff;}
.right-side-menu li.side-cart em{display:inline-block; min-width:14px; height:20px; line-height:20px; padding:0 3px; color:#fff; border-radius:10px; background-color:#0078F0;}
.right-side-menu li.side-asset{+margin-top:20px;_margin-top:10px;}/*modify*/
.right-side-menu li .side-point{display:none; position:absolute; position:absolute; top:0; right:40px; width:120px; line-height:30px; padding:10px 0; color:#fff; background-color:#494949; box-shadow:0 0 5px rgba(0,0,0,.2); text-align:center;}
.right-side-menu li .side-point a{display:inline-block; line-height:20px; margin:2px 0; padding:0 10px; color:#fff; border-radius:4px; background-color:#0078F0;}
.right-side-menu li .side-point:before{position:absolute; top:10px; right:-5px; border-top:10px dashed transparent; border-bottom:10px dashed transparent; border-left:10px solid #494949; content:'';}


.side-content{display:none; float:left; width:220px; height:100%; background:#393939;}
.side-content .side-bd{position:relative;}
.side-bd .cart-top{height:28px; line-height:28px; background-color:#e6e6e6;}
.side-bd .cart-top label{margin-left:13px;}
.side-bd .cart-top label input{margin-right:3px; vertical-align:middle;}
.side-bd .cart-top a{float:right; margin-right:18px;}
.side-bd .cart-list li{margin-top:16px; padding-left:8px; background-color:#fff;}
.side-bd .cart-list li:first-child{margin:0;}
.cart-list .cart-list-shop{height:29px; line-height:18px; border-bottom:1px solid #e6e6e6; background-color:#fff; overflow:hidden;}
.cart-list .cart-list-shop input[type="checkbox"]{float:left; margin:7px 5px;}
.cart-list .cart-list-shop p{float:left; width:119px; padding:5px 0; color:#333; border-bottom:none; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; ;}
.cart-list .cart-list-shop span{float:right; width:60px; margin-right:10px; padding:5px 0; color:#999; border-bottom:none; text-align:right;}
.cart-list .cart-list-goods{position:relative; width:100%; border-bottom:1px dotted #F0F0F0; overflow:hidden; zoom:1; cursor:pointer;}
.cart-list-goods input[type="checkbox"]{float:left; margin:20px 5px 5px;}
.cart-list-goods img{float:left; width:50px; height:50px; margin:5px;}
.cart-list-goods .s-num{float:left; width:59px; line-height:14pxmargin-top:15px; text-align:center;}
.cart-list-goods .s-num span{line-height:18px; padding:0 6px; color:#fff; border-radius:3px; background-color:#0066cd;}
.cart-list-goods .s-g-price{float:left; width:60px; line-height:18px; padding-top:15px; text-align:right;}
.cart-list-goods .s-g-remove{display:none; float:right; width:60px; line-height:22px; padding-right:10px; text-align:right;}
.cart-list-goods .s-g-remove a{color:#0066CD;}
.cart-list-goods:hover .s-g-remove{display:inline;}
/*.cart-list-goods i{ position:absolute; right:10px; top:3px; font-family:Tahoma; width:14px; height:14px; line-height:10px; text-align:center; text-align:center; background-color:#666; color:#fff; display:none; border-radius:100%;}
.cart-list-goods:hover i{ display:block;}*/
.side-cart-c{position:relative; height:100%; background-color:#e6e6e6;}
.side-cart-c .side-bt{position:absolute; bottom:20px; left:0; width:190px; padding:0 15px; background-color:#e6e6e6;}
.side-cart-c .side-bt input[type="button"]{width:100%; height:40px; line-height:40px; color:#fff; border:0 none; background-color:#0066cd; cursor:pointer; text-align:center;}
.side-cart-c .side-bt input[type="button"]:hover{background-color:#0066cd;}

.side-cart-c .cart-total{line-height:30px; color:#333;}
.side-cart-c .cart-total .total-money{float:right; color:#0078F0;}
.side-content .side-hd{position:relative; width:100%; height:35px; line-height:35px; font-size:14px; background-color:#393939; text-align:center;}
.side-content .side-hd a{color:#fff;}
.side-content .side-hd .side-close{display:block; position:absolute; top:0; left:10px; width:35px; height:35px; line-height:35px; font-weight:bold; font-family:'simsun'; color:#fff; cursor:pointer;}

.side-goods-list{padding:10px 15px; background-color:#393939;}
.side-goods-list li{float:left; width:100%; padding:10px 0; border-top:1px solid #666;}
.side-goods-list li:first-child{border:none;}
.side-goods-list li img{float:left; width:50px; height:50px; margin-right:10px;}
.side-goods-list li p{height:36px; overflow:hidden;}
.side-goods-list li p a{color:#fff;}
.side-goods-list li p a:hover{text-decoration:underline;}

.side-asset-total{margin:5px 15px; border-radius:3px; background-color:#efefef;}
.side-asset-total div{float:left; position:relative; width:50%; padding:8px 0 10px; text-align:center;}
.side-asset-total div:first-child:after{position:absolute; top:10px; right:0; height:40px; border-right:1px solid #dfdfdf; content:'';}
.side-asset-total span{display:block; width:100%; line-height:24px; font-size:18px;}

.side-asset-list{padding:5px 14px;}
.side-asset-list p{padding-top:10px; color:#fff;}
.side-asset-list ul{margin-top:10px;}
.side-asset-list li{position:relative; padding:10px; background-color:#fd7778;}
.side-asset-list li:before{position:absolute; top:-2px; left:0; width:100%; height:4px; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAECAQAAABhe7jaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAAMgAAAAEAIwF5NQAAABISURBVDjL7cYxFYAgFADAgxI+olDBFizWsoURSOLj2cEBRyP8hZsu1dvhwu70rke+b6Q6PQqGwnrkeyJj+q3HXjY00Iz14OMDOiIdQWtnq7QAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDQtMDFUMTY6MDQ6NTYrMDg6MDC7Xd3cAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA0LTAxVDE2OjA0OjU2KzA4OjAwygBlYAAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) repeat-x; content:'';}
.side-asset-list li a{color:#fff;}
.side-asset-list li h3{height:30px; line-height:30px; font-size:12px; color:#a44;}
.side-asset-list li h3 span{position:relative; bottom:-10px; width:60px; font-size:20px; color:#fff;}
.side-asset-list li h5{height:20px; line-height:20px; font-size:12px; overflow:hidden;}
.side-asset-list li p{padding:0 0 0 60px; color:#a44;}
.side-asset-list li.coupon-lg{background-color:#ffc24d;}
.side-asset-list li.coupon-sm{background-color:#3abec0;}
.side-asset-list li.coupon-lg h3, .side-asset-list li.coupon-lg p{color:#b70;}
.side-asset-list li.coupon-sm h3, .side-asset-list li.coupon-sm p{color:#13797b;}
.side-asset-list li.getCurCoupon{position:relative; cursor:pointer;}
.side-asset-list li.getCurCoupon:after{position:absolute; top:0; right:0; width:24px; line-height:20px; padding:24px 10px; color:#fff; background:rgba(0,0,0,0.4); content:'立即领取'; transition:all .3s;}
.side-asset-list li.getCurCoupon:hover:after{padding:24px 15px;}

.side-asset-c, .side-atgoods-c, .side-history-c{display:none; height:100%;}
.side-asset-c .side-bd, .side-atgoods-c .side-bd, .side-history-c .side-bd{height:95%;}
/*right side end*/



/*xj footer*/
.qpr-footer{width:100%; line-height:24px; margin:20px 0; padding:20px 0; border-top:1px solid #e5e5e5; background:#FFF; clear:both; text-align:center;}
.qpr-footer .qf-nav{margin:0 auto; overflow:hidden;}
.qpr-footer .qf-nav a{color:#444;}
.qpr-footer .qf-nav a:hover{color:#B61D1D;}
.qpr-footer .qf-copyright{margin:0 auto; font-family:Verdana; color:#444;}
.qpr-footer .qf-copyright img{display:inline-block;}