<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta charset="utf-8" />
    <title>购物车结算</title>
    <link href="static/css/css_base.css" rel="stylesheet" type="text/css" />
    <link href="static/css/css_top_mall.css" rel="stylesheet" type="text/css" />
    <link href="static/css/common.css" rel="stylesheet" />
    <link href="static/css/inner.css" rel="stylesheet" />
    <link href="static/css/qpr-small-icon.css" rel="stylesheet" type="text/css" />
    <link href="static/css/artdilog.css" rel="stylesheet" />
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!--<script src="static/js/jquery.cookie.js"></script>-->
    <script src="static/js/jQuery.mouseDelay.min.js"></script>
    <script src="static/js/jquery.scrollLoading.min.js"></script>
    <script src="static/js/web.js"></script>
    <script src="static/js/CommonJS.js"></script>
    <script src="static/js/jquery.artDialog.js"></script>
    <script src="static/js/artDialog.iframeTools.js"></script>
    <link href="static/css/WebLoginPlug.css" rel="stylesheet" />
    <script src="static/js/cartSettleAccounts.js"></script>

    <script charset="utf-8" src="static/template/admin/js/sysUtils.js"></script>
    <script charset="utf-8" src="static/template/admin/js/template-web.js"></script>
</head>
<body>
<div class="h-top" id="headTopNav">

    <!--<script>
        $(function () {
            refreshCartProducts();
        });
        function refreshCartProducts() {
            var countCookie = $.cookie('qpr_mall_cart_count');
            $('#right_cart em').text(countCookie);
            $('#shopping-amount-self').html(countCookie);
        }
    </script>-->

    <script id = "logstatus" type = "text/html">
        {{if data.username}}
        <span class="h-fl mr10">您好， 欢迎光临汽配人网！</span>
        <a class="h-fl" href="/UserCenter" id="username" target="_blank">{{data.username}}</a>
        <i class="h-fl h-vline">|</i>
        <input type = "hidden" id = "userid" value = "{{data.userid}}"/>
        <a class="h-fl" href="">[退出]</a>
        {{else}}
        <span class="h-fl mr10">您好， 欢迎光临汽配人网！</span>
        <a class="h-fl" href="/Login">登录</a>
        <i class="h-fl h-vline">|</i>
        <a class="h-fl" href="/Register">注册</a>
        {{/if}}
    </script>

    <div class="h-w1200 ht-link">

        <div id = "loginstatus"></div>

        <a class="h-fr" href="/Article/" target="_blank">帮助中心</a>
        <dl class="h-fr h-down ml0 ltb1">
            <dt>
                <a href="/scrz/" target="_blank">商城入驻</a>
                <i class="h-icon"></i>
            </dt>
            <dd>
                <a href="/Article/mallintr" target="_blank">商城介绍</a>
                <a href="/scrz/" target="_blank">商城入驻</a>
            </dd>
        </dl>
        <dl class="h-fr h-down h-sd mr0">
            <dt>
                <a href="#2">收藏夹</a>
                <i class="h-icon"></i>
            </dt>
            <dd>
                <a href="/ProductConcern/Index">关注的商品</a>
                <a href="/ShopConcern/Index">关注的店铺</a>
            </dd>
        </dl>
        <a class="h-fr" target="_blank" href="/cart/cart">购物车<em class="h-cF60">【<span id="shopping-amount-self">1</span>】</em></a>
        <i class="h-fr h-vline">|</i>
        <a class="h-fr" href="http://www.qipeiren.com" target="_blank">汽配人首页</a>
    </div>
</div>
<div class="w990 w1 cl">
    <div id="logo"><a href="/"><img src="../img/logo1.jpg" title="返回商城首页" alt="返回商城首页" /></a></div>
    <div class="logo_gwc"><img src="../img/logo4.png" /></div>
</div>

<div class="w990 cart">
    <div id="show">
            <div class="cart-inner" id="cartcontent">


            </div>
            <script id = "goodsList" type="text/html">
                {{if list}}
                <div class="cart-list">
                    <p class="cart-tit">
                        <label>全部商品<span id="selectedCount">0</span></label>
                    </p>
                    <div class="cart-thead cl">
                        <div class="column t-checkbox form"><input type="checkbox" checked="" name="checkAll" value="" sku="0"/><label for="">全选</label></div>
                        <div class="column t-goods">商品</div>
                        <div class="column t-price">单价</div>
                        <div class="column t-quantity" style="width:285px;">数量</div>
                        <div class="column t-action" style="width:120px;">操作</div>
                    </div>

                    <div id="product-list" class="cart-tbody">
                        <div class="n-item-list">
                            {{each list data}}
                            <div class="item item_selected ">
                                <div class="item_form cl">
                                    <div class="cell p-checkbox">
                                        <input class="checkbox" checked="" type="checkbox" data-cartid="" name="checkItem" value="8" sku="{{data.goodsid}}">
                                    </div>
                                    <div class="cell p-goods">
                                        <div class="p-img">
                                            <a href="{{data.goodsurl}}" target="_blank" id = "goodsurl{{$index}}"><img src="{{data.goodsimg}}" id = "goodsimg{{$index}}" alt=""></a>
                                        </div>
                                        <div class="p-name">
                                            <a href="{{data.goodsurl}}" target="_blank"><span id = "goodsbrand{{$index}}">{{data.brand}} {{data.goodsname}}</span><br></a>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="cell p-price">
                                        <span class="price" id = "goodsprice{{$index}}">¥{{data.goodsprice}}.00</span>
                                    </div>
                                    <input type = "hidden" text = "{{data.goodstype}}" />
                                    <input type = "hidden" text = "{{data.sellerid}}" id = "sellerid{{$index}}" />
                                    <div class="cell p-quantity">
                                        <div class="quantity-form">
                                            <a href="javascript:void(0);" class="decrement" sku="{{data.sellerid}}">-</a>
                                            <input type="text" id = "count{{$index}}" class="quantity-text" value="{{data.count}}" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v()" name="count" sku="{{data.sellerid}}">
                                            <a href="javascript:void(0);" class="increment" sku="{{data.sellerid}}">+</a>
                                        </div>
                                    </div>
                                    <div class="cell p-remove">
                                        <a class="cart-remove" href="javascript:removeFromCart('{{data.goodsid}}')">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{each}}
                <div class="ui-ceilinglamp-1">
                    <div class="cart-dibu">
                        <div class="cart-total-2014">
			                        <span class="column t-checkbox form" style="float:left; margin-right:10px;">
			                            <input type="checkbox" checked="" name="checkAll" value="" class="jdcheckbox" sku="0" style="margin-left:19px;*margin-top:-4px;_margin-top:10px;" />
			                            <label for="">全选</label>
			                        </span>
                            <span class="delete" style="float: left; margin-right: 10px;">
			                            <a href="javascript:void(0);" id="remove-batch">删除选中的商品</a>
			                        </span>
                            <div class="cart-button">
                                <a class="checkout" href="javascript:void(0);" id="toSettlement">去结算</a>
                            </div>
                            <div class="total fr">总计（不含运费）：<span id="finalPrice">¥ 0</span></div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="message">
                    <ul>
                        <li>购物车内暂时没有商品<span class="unLogin" style="display: none;"></li>
                        <li><a href="">去挑选喜欢的商品</a></li>
                    </ul>
                </div>
                {{/if}}
            </script>

        </div>
    </div>
</div>

<input type="hidden" value="2" id="hidAuditStatus" />
<input type="hidden" value="1" id="hidSaleStatus" />

<script type="text/javascript">
    $(function () {
        CartFormat();
    });
    var myurl = "/shopCarData";
    var CartFormat = function(){
        $.ajax({
            url: myurl,
            type: "post",
            dataType: "json",
            success: function(data){
                $("#loginstatus").template("logstatus",{data:data.user});
                $("#cartcontent").template("goodsList",{list:data.goods});
            }
        });
    };
</script>

<link href="static/css/css_foot.css" rel="stylesheet" />
<div class="h-bottom ms-foot">
    <div class="h-w1200 msf-service">
        <a href="/Article/mallintr" target="_blank">
            <dl class="msfs-1">
                <dt><i class="op-icon opi-50-1"></i></dt>
                <dd>
                    <h4>质量保障</h4>
                    <p>正规渠道，质量保障</p>
                </dd>
            </dl>
        </a>
        <a href="/Article/mallintr" target="_blank">
            <dl class="msfs-2">
                <dt><i class="op-icon opi-50-2"></i></dt>
                <dd>
                    <h4>品类齐全</h4>
                    <p>各大车系千万配件，一站购齐</p>
                </dd>
            </dl>
        </a>
        <a href="/Article/mallintr" target="_blank">
            <dl class="msfs-3">
                <dt><i class="op-icon opi-50-3"></i></dt>
                <dd>
                    <h4>全网低价</h4>
                    <p>源头直达，价格大幅优于传统渠道</p>
                </dd>
            </dl>
        </a>
        <a href="/Article/mallintr" target="_blank">
            <dl class="msfs-4">
                <dt><i class="op-icon opi-50-4"></i></dt>
                <dd>
                    <h4>售后无忧</h4>
                    <p>安心选购，品牌保障，售后无忧</p>
                </dd>
            </dl>
        </a>
    </div>
    <div class="h-w1200 msf-info">
        <dl class="msfi-1">
            <dt><strong>新手入门</strong></dt>

            <dd>
                <i>&gt;</i><a href="/Article/Details/62 " target="_blank" rel="nofollow">会员注册</a>
            </dd>
            <dd>
                <i>&gt;</i><a href="/Article/Details/63 " target="_blank" rel="nofollow">购物流程</a>
            </dd>
        </dl>
        <dl class="msfi-2">
            <dt><strong>常见问题</strong></dt>

            <dd>
                <i>&gt;</i><a href="/Article/Details/65 " target="_blank" rel="nofollow">退换货政策</a>
            </dd>
        </dl>
        <dl class="msfi-3">
            <dt><strong>支付方式</strong></dt>

            <dd>
                <i>&gt;</i><a href="/Article/Details/66 " target="_blank" rel="nofollow">支付方式</a>
            </dd>
        </dl>
        <dl class="msfi-4">
            <dt><strong>配送说明</strong></dt>

            <dd>
                <i>&gt;</i><a href="/Article/Details/64 " target="_blank" rel="nofollow">关于配送</a>
            </dd>
        </dl>
        <dl class="msfi-5">
            <dt><strong>关于我们</strong></dt>

            <dd>
                <i>&gt;</i><a href="/Article/Details/67 " target="_blank" rel="nofollow">商城介绍</a>
            </dd>
        </dl>
        <dl class="msfi-6">
            <dt>
                <img src="http://img.qipeiren.com/Public/images/b_ewm.png" />
            </dt>
            <dd><span>扫码关注</span></dd>
            <dd>汽配人网官方微信</dd>
        </dl>
    </div>
</div>

<link href="static/css/css_sitefoot.css" rel="stylesheet" />
<div class="pw-panel pw-foot">
    <div class="pw-w1200">
        <div class="foot-box clearfix">
            <div class="fb-logo">
                <a href="http://www.qipeiren.com" class="logo-img"></a>
            </div>
            <div class="fb-service">
                <div class="group-spot clearfix">
                    <dl class="spot-item">
                        <dt class="item-tit">新手指南</dt>
                        <dd class="item-list">
                            <a href="http://mall.qipeiren.com/Register" target="_blank">注册新用户</a>
                            <a href="http://mall.qipeiren.com/Article" target="_blank">帮助中心</a>
                        </dd>
                    </dl>
                    <dl class="spot-item">
                        <dt class="item-tit">网站服务</dt>
                        <dd class="item-list">
                            <a href="http://www.qipeiren.com/cms/wp" target="_blank">汽配旺铺</a>
                            <a href="http://mall.qipeiren.com/Article/mallintr" target="_blank">汽配商城</a>
                            <a href="http://www.qipeiren.com/helper" target="_blank">汽配助手</a>
                            <a href="http://www.qipeiren.com/cms/yxb" target="_blank">营销宝</a>
                        </dd>
                    </dl>
                    <dl class="spot-item item-multiseriate">
                        <dt class="item-tit">特色市场</dt>
                        <dd class="item-list">
                            <a href="http://syc.qipeiren.com" target="_blank">商用车市场</a>
                            <a href="http://cyc.qipeiren.com" target="_blank">乘用车市场</a>
                            <a href="http://dongfeng.qipeiren.com" target="_blank">东风市场</a>
                            <a href="http://zhongqi.qipeiren.com" target="_blank">重汽市场</a>
                            <a href="http://shanqi.qipeiren.com" target="_blank">陕汽市场</a>
                            <a href="http://yiqi.qipeiren.com" target="_blank">一汽市场</a>
                            <a href="http://beiqi.qipeiren.com" target="_blank">北汽市场</a>
                            <a href="http://jianghuai.qipeiren.com" target="_blank">江淮市场</a>
                            <a href="http://zyc.qipeiren.com" target="_blank">专用汽车</a>
                        </dd>
                    </dl>
                    <dl class="spot-item">
                        <dt class="item-tit">地方分站</dt>
                        <dd class="item-list">
                            <a href="http://jiangsu.qipeiren.com" target="_blank">江苏分站</a>
                            <a href="http://guangdong.qipeiren.com" target="_blank">广东分站</a>
                            <a href="http://zq.qipeiren.com" target="_blank">山东分站</a>
                            <a href="http://henan.qipeiren.com" target="_blank">河南分站</a>
                        </dd>
                    </dl>
                    <dl class="spot-item">
                        <dt class="item-tit">移动端</dt>
                        <dd class="item-list">
                            <div class="m-siteurl"><a href="http://m.qipeiren.com" target="_blank">手机登录：m.qipeiren.com</a></div>
                            <div class="qr-code">
                                <div class="app-btn">
                                    <i class="app-v-icon avi-i"></i>
                                    <span class="di-vm ml5">iPhone</span>
                                </div>
                                <div class="app-code">
                                    <div class="qpr-qrcode">
                                        <i class="app-qpr-qrcode"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="qr-code">
                                <div class="app-btn">
                                    <i class="app-v-icon avi-a"></i>
                                    <span class="di-vm ml5">Android</span>
                                </div>
                                <div class="app-code">
                                    <div class="qpr-qrcode">
                                        <i class="app-qpr-qrcode"></i>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="fb-siteinfo">
                    <div class="site-nav clearfix">
                        <a href="http://www.qipeiren.com/About/About.asp" target="_blank" rel="nofollow">关于我们</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/About/Exempt.asp" target="_blank" rel="nofollow">法律声明</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/About/Link.asp" target="_blank">友情链接</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/sitemap.html" target="_blank">网站地图</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/chanpin/" target="_blank">汽车配件批发</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/pic/" target="_blank">汽车配件图片</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/peijian/" target="_blank">汽车配件大全</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/ask/" target="_blank">汽配问答</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/changjia/" target="_blank">汽配厂家</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/brand/" target="_blank">汽配品牌</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/topics/" target="_blank">汽配主题</a>
                        <label class="v-line">|</label>
                        <a href="http://www.qipeiren.com/qpc/" target="_blank">汽配城</a>
                        <label class="v-line">|</label>
                        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">鄂ICP备14009261号</a>
                    </div>
                    <div class="site-info">
                        <a>经营许可证编号：鄂B2-20140114</a>
                        <span class="ml20">服务热线：0719-8311727</span>
                        <br />
                        <span class="di-vm">Copyright &copy; 2005-2018 十堰亿脉科技有限公司 版权所有</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

